﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.PushFileDataView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;

}
@Html.AntiForgeryToken()
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th width="80">Action</th>
                                    <th>File</th>
                                    <th class="col-md-2">Created Date</th>
                                    <th class="col-md-2">Size (bytes)</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FILES)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <button type="button" class="text-slate-700" onclick="removeFile('@item.FILE_NAME')"><i class="icon-cross2"></i></button>
                                        </td>
                                        <td><h6 class="">@item.FILE_PATH</h6></td>
                                        <td><h6 class="">@item.CREATE_DATE</h6></td>
                                        <td><h6 class="">@item.FILE_SIZE</h6></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>
    var pushDataFileName = '';

    function removeFile(filename) {
        pushDataFileName = filename;
         $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "filename");
        id.setAttribute("value", pushDataFileName);
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>