﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using System.IO.Compression;
@{
    IEnumerable<SelectListItem> docTypeList = (IEnumerable<SelectListItem>)ViewData["DocTypeMaster"];
    Parameter param = (Parameter)ViewData["Parameter"];

    int authDocs = (int)ViewData["DocCount"];
}
<div id="FileUploader" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">File Uploader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupSVS">
                    <div class="form-group ">
                        <label class="col-lg-2 control-label">Document Type</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("DocType", docTypeList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-lg-2 control-label">Select File</label>
                        <div class="col-lg-10">
                            <input type="file" id="updFile" name="updFile" accept="*.pdf">
                            <span class="help-block">Accepted file type pdf, maximum file size @param.SizeDocument.ToString() KB</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="btnSubmit" onclick="SelectFile()">@SvsResources.SelectFile</button>
                <button type="button" class="btn btn-xs btn-primary" id="File-uploader-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    //Startup (OnLoad)
    var limitSize = @param.GetSizeDocumentJS;

    $(function () {
        $('#DocType').selectpicker();

        $("#btnSubmit").hide();
        $("#FileUploader").on('shown.bs.modal', function () {
            document.querySelector('#updFile').value = '';
        });
    });
    //end

    $('#updFile').change(function () {
        if($('#updFile').val()==''){
            $("#btnSubmit").hide();
        }
        $("#btnSubmit").show();
    });
    //end


    //get value hasil crop taro ke hidden buat submit ke controller
    function SelectFile() {
        var uploadedExt = "";
        var selectedFile = document.getElementById('updFile').files;
        var fileToLoad = selectedFile[0];

        if (fileToLoad.size > limitSize) {
            alert('Maximum file size exceeded (' + (fileToLoad.size / 1024).toFixed(2) + ' KB)!');
            $('#updFile').val()=='';
            return;
        } else {

            var fileInput = document.getElementById('updFile').value;
            var fileSplit = fileInput.split('.');
            var fileExt = fileSplit[fileSplit.length - 1]

            if (fileExt.toUpperCase() == "PDF") {
                uploadedExt = "application/pdf";
            }
            else{
                alert('Only pdf file can be uploaded!');
                $('#updFile').val()=='';
                return;
            }
            //else if (fileExt.toUpperCase() == "TIFF") {
            //    uploadedExt = "image/tiff";
            //}
            //else if (fileExt.toUpperCase() == "TIF") {
            //    uploadedExt = "image/tif";
            //}

            var reader = new FileReader();
            var base64;
            // Onload of file read the file content
            reader.onload = function (fileLoadedEvent) {
                base64 = fileLoadedEvent.target.result;
                var data = new Object();

                data.DocumentType = $("#DocType").val();
                data.DocumentTypeDesc = $("#DocType").text();

                if (fileExt.toUpperCase() == "PDF") {
                    data.FileType = "data:application/pdf;base64,";
                    data.FileBlob = base64.replace('data:application/pdf;base64,', '');
                    data.FileSize = fileToLoad.size;
                    data.FileName = selectedFile[0].name;
                }
                //else if (fileExt.toUpperCase() == "TIFF" || fileExt.toUpperCase() == "TIF") {
                //    data.FileType = "data:image/tiff;base64,";
                //    data.FileBlob = base64.replace('data:image/tiff;base64,', '').replace(/^[^,]+,/, '');;
                //    data.FileSize = fileToLoad.size;
                //    data.FileName = selectedFile[0].name;
                //}

                $("#btnSubmit").hide();
                $('#FileUploader').modal('hide');
                setupFileUploader(data);
            };
            // Convert data to base64
            reader.readAsDataURL(fileToLoad);
        }
    }
    //end

</script>
