﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@{
    Parameter param = (Parameter)ViewData["Parameter"];
}
<div id="ImageEditor" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupSVS">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div style="height:400px; width:550px; overflow:auto;" id="srcAwal">
                                            <img id="inputImage" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<input type="file" id="updImage" name="updImage" accept="image/*" />*@
                                <input type="file" id="updImage" name="updImage" accept="image/JPEG,image/PNG,image/JPG" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <fieldset>
                                <div class="img-preview preview-lg" id="blobcanvas" style="width: 400px; height: 400px; overflow: hidden; border: solid grey 1px;">
                                    <canvas class="img-preview preview-lg" id="canvas" style="vertical-align:top;"></canvas>
                                </div>
                                @*<input type="hidden" id="ImageType" name="ImageType" />
                                    <input type="hidden" id="CroppedBlob" name="CroppedBlob" />
                                    <br />*@

                                <input type="hidden" name="avatarCropped" id="avatarCropped">
                                <input type="hidden" name="download" id="download">
                                <input type="hidden" name="actions" id="actions">
                                <input type="hidden" name="dataX" id="dataX">
                                <input type="hidden" name="dataY" id="dataY">
                                <input type="hidden" name="dataHeight" id="dataHeight">
                                <input type="hidden" name="dataWidth" id="dataWidth">
                                <input type="hidden" name="dataRotate" id="dataRotate">
                                <input type="hidden" name="dataScaleX" id="dataScaleX">
                                <input type="hidden" name="dataScaleY" id="dataScaleY">
                            </fieldset>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="btnRotateLeft" onclick="rotateLeft()"><i class="icon-rotate-ccw3"></i></button>
                <button type="button" class="btn btn-xs btn-primary" id="btnRotateRight" onclick="rotateRight()"><i class="icon-rotate-cw3"></i></button>
                <button type="button" class="btn btn-xs btn-primary" id="btnCrp" onclick="Crop()">@SvsResources.CropImage</button>
                <button type="button" class="btn btn-xs btn-primary" id="Image-editor-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var cropper;
    var emptyImage = '/Content/images/placeholder.jpg';
    var maxWidth = 1250;
    var maxHeight = 1250;
    var imglimitSize;

    //Startup (OnLoad)
    $(function () {
        $("#btnCrp").hide();
        $("#ImageEditor").on('shown.bs.modal', function () {
            image = null;
            document.querySelector('#updImage').value = '';
            $('#inputImage').attr('src', emptyImage);
            $('#inputImage').attr('style', 'width: 100%;max-height: 100%;');
            if (cropper !== undefined) cropper.destroy();
        });
    });
    //end

    $('#updImage').change(function () {
        if($('#updImage').val()==''){
            return;
        }

        var ext = $('#updImage').val().split('.').pop().toLowerCase();
        if (ext !== 'jpg' && ext !== 'jpeg' && ext !== 'png') {
            alert('Please Upload Image with extension .jpg,.jpeg or .png');
        } else {
            readFile(this);
            $("#btnCrp").show();
        }
    });
    //end

    //ubah dari file ke preview blob
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = $('#inputImage').attr('src', e.target.result);

                ///*Current uploaded image size*/
                var width = img[0].height;
                var height = img[0].width;

                //InitCrop must call here otherwise it will not work
                initCrop();
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    //end

    //get hasil cropper ke preview, preview yg mana pake class preview
    function initCrop() {
        image = document.getElementById('inputImage');
        if (cropper !== undefined) cropper.destroy();
        cropper = new Cropper(image, {
            setDragMode: 'crop',
            preview: '.img-preview',
            aspectRatio: NaN,
        });
    }
    //end

    //get value hasil crop taro ke hidden buat submit ke controller
    function Crop() {
        var cropExt = "";
        var fileInput = document.getElementById('updImage').value;
        var fileSplit = fileInput.split('.');
        var fileExt = fileSplit[fileSplit.length - 1]
        var imgType = "";

        if (modalSwitcher === 'Signatures') {
            imglimitSize = @param.GetSizeSignature;

        } else if (modalSwitcher === 'IdentityCards') {
            imglimitSize = @param.GetSizeKTP;
        }


        if (fileExt.toUpperCase() == "PNG") {
            cropExt = "image/png";
            imgType = "data:image/png;base64,";
        }
        else if (fileExt.toUpperCase() == "JPG" || fileExt.toUpperCase() == "JPEG") {
            cropExt = "image/jpeg";
            imgType = "data:image/jpeg;base64,";
        }

        var hsl = cropper.getCroppedCanvas({ maxWidth: maxWidth, maxHeight: maxHeight });
        var blob = hsl.toDataURL(cropExt);

        if (blob.replace(imgType, '').length > imglimitSize) {
            alert('Maximum cropped image size exceeded (' + (blob.replace(imgType, '').length / 1024).toFixed(2)  + ' KB)!');

            return;
        }

        //$("#previ").html(hsl);
        var data = new Object();

        data.ImageType = imgType
        data.CroppedBlob = blob.replace(imgType, '');

        //if (fileExt.toUpperCase() == "PNG") {
        //    cropExt = "image/png";
        //    data.ImageType = "data:image/png;base64,";
        //    data.CroppedBlob = blob.replace('data:image/png;base64,', '');
        //    //$("#ImageType").val("data:image/png;base64,")
        //    //$("#CroppedBlob").val(blob.replace('data:image/png;base64,', ''));
        //}
        //else if (fileExt.toUpperCase() == "JPG" || fileExt.toUpperCase() == "JPEG") {
        //    data.ImageType = "data:image/jpeg;base64,";
        //    data.CroppedBlob = blob.replace('data:image/jpeg;base64,', '');
        //    //$("#ImageType").val("data:image/jpeg;base64,")
        //    //$("#CroppedBlob").val(blob.replace('data:image/jpeg;base64,', ''))
        //}

        $("#btnCrp").hide();
        $('#ImageEditor').modal('hide');
        setupImageEditor(data);
    }
    //end


    function rotateLeft() {
        if (cropper !== undefined) {
            cropper.rotate(-90);
        }
    }

    function rotateRight() {
        if (cropper !== undefined) {
            cropper.rotate(90);
        }
    }

</script>
