﻿@using Treemas.Credential.Model
@using UOB.SVS.Resources;
@{
    ViewBag.SubTitle = " - Index";
    User user = (User)ViewData["User"];
}

<!DOCTYPE html>
<html>
<body class="navbar-top">
    @if (user.LastLogin != null)
    {
    <input class="form-control" name="password" id="lastLogin" value="@user.LastLogin" type="hidden">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                        <div class="row">
                            <p><b>Last Login : </b>@user.LastLogin.Value.ToString("dd/MM/yyyy HH:mm:ss tt")</p>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-primary" id="SVS-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
                </div>
            </div>

        </div>
    </div>
    }
    <script>
        $('#myModal').on('shown.bs.modal', function () { $("#modal_message_close_button").focus(); });

        $("#myModal").modal();

    </script>
</body>
</html>


