﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.CentralizeUnitHReqView
@{
    string ActionName = (string)ViewData["ActionName"];
    Parameter param = (Parameter)ViewData["Parameter"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> doctypeList = (IEnumerable<SelectListItem>)ViewData["DocTypeMaster"];
    IEnumerable<SelectListItem> regionList = (IEnumerable<SelectListItem>)ViewData["RegionMaster"];
    IEnumerable<SelectListItem> divisionList = (IEnumerable<SelectListItem>)ViewData["DivisionMaster"];
    IEnumerable<SelectListItem> departementList = (IEnumerable<SelectListItem>)ViewData["DepartementMaster"];
    IEnumerable<SelectListItem> alldocTypeList = (IEnumerable<SelectListItem>)ViewData["AllDocTypeMaster"];
    //int authDocs = (int)ViewData["DocCount"];

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var DocumentsModel = serializer.Serialize(Model.Documents);
    var SignaturesModel = serializer.Serialize(Model.Signatures);
}
@Html.AntiForgeryToken()
<form class="form-horizontal form-validate" enctype="multipart/form-data" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body" style="min-height: 83vh;">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">NIK <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("NIK", null, new { @id = "NIK", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 16 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Name <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("Name", null, new { @id = "Name", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 100 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Title <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("Titles", null, new { @id = "Titles", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 50 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label input-xs">Note</label>
                        <div class="col-lg-7">
                            @Html.TextArea("Note", null, 2, 5, new { @id = "Note", @autocomplete = "off", @class = "form-control", maxlength = 500 })
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Directorate / Region<span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Region", regionList,"ALL", new { @class = "form-control btn-default btn-xs", @required = "required", @autocomplete = "off", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Division / Branch <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Division", divisionList, new { @class = "form-control btn-default btn-xs", @required = "required", @autocomplete = "off", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Departement / SubBranch</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Departement", departementList, new { @class = "form-control btn-default btn-xs", @autocomplete = "off", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br /><br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#signatures">Signatures</a></li>
            <li><a data-toggle="tab" href="#documents">Documents</a></li>
        </ul>
        <div class="tab-content">
            <div id="signatures" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-xs" type="button" data-id="Signatures" data-toggle="modal" data-target="#ImageEditor">@SvsResources.AddSignature</button>
                    </div>
                </div>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-sign table-hover" id="datatable-sign" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="documents" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-12">
                        @*@if (@authDocs != 0)
                        {*@
                            <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#FileUploader">@SvsResources.AddDocument</button>
                        @*}*@
                    </div>
                </div>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-document table-hover" id="datatable-document" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Document</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-control-panel text-right">
            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
        </div>
    </div>
</form>

<script>
    var modalSwitcher = '';
    var Signatures = @Html.Raw(SignaturesModel) || [];
    var Documents = @Html.Raw(DocumentsModel) || [];
    var DeletedSignatures = [];
    var DeletedDocuments = [];
    var docTypes = @Html.Raw(Json.Encode(doctypeList));
    var alldocTypes = @Html.Raw(Json.Encode(alldocTypeList));
    var watcherDocument = createWatcher('Document');
    var watcherSign = createWatcher('Signature');

    $(document).ready(function () {
        $("#Name").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });

    $("#Region").change(function () {
        $('#Division').html('');
        $('#Departement').html('');
        var Region = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownRegion")",
            data: { Region: Region }
        })
          .done(
              function (data) {
                  console.log(data.Divisions.length);
                  if (data.Divisions.length > 0) {
                     
                      var options = '';

                      options += '<option value="">Select</option>';
                      console.log(data.Divisions);
                      console.log(data.Divisions[0]['Alias']);
                      for (var i = 0; i < data.Divisions.length; i++) {
                          options += '<option value="' + data.Divisions[i]['Alias'] + '">' + data.Divisions[i]['Alias'] + '</option>';
                      }
                      $('#Division').append(options);
                  }

            });
    });

    $("#Division").change(function () {
        var Region = $('#Region').val();
        $('#Departement').html('');
        var Division = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownDepartements")",
            data: { Region: Region, division: Division}
        })
          .done(
              function (data) {
                  console.log(data.Departements.length);
                  if (data.Departements.length > 0) {
                   
                      var options = '';

                      options += '<option value="">Select</option>';
                      console.log(data.Departements);
                      console.log(data.Departements[0]['Alias']);
                      for (var i = 0; i < data.Departements.length; i++) {
                          options += '<option value="' + data.Departements[i]['Alias'] + '">' + data.Departements[i]['Alias'] + '</option>';
                      }
                      $('#Departement').append(options);
                  }

            });
    });

    //watcherDocument.registerListener(isAllComplete);
    //watcherSign.registerListener(isAllComplete);

    function isAllComplete() {
        //let dDone = watcherDocument.done;
        //let sDone = watcherSign.done;
        //let iDone = watcherIDCards.done;

        /*if (dDone && sDone) {*/
            $.unblockUI();
            location.href = '@Html.Treemas().Page.GetActionUrl("Index")';
        /*}*/
    }

    function createWatcher(name) {
        return {
            name: name,
            initialInternal: 0,
            postedInternal: 0,
            succeedInternal: 0,
            errorInternal: 0,
            set initial(val) {
                this.initialInternal = val;
                this.postedInternal = 0;
                this.succeedInternal = 0;
                this.errorInternal = 0;
            },
            set posted(val) {
                this.postedInternal = this.postedInternal + val;
                this.watcherListener(val);
            },
            set error(val) {
                this.errorInternal = this.errorInternal + val;
                this.watcherListener(val);
            },
            set succeed(val) {
                this.succeedInternal = this.succeedInternal + val;
                this.watcherListener(val);
            },
            get done() {
                let allPosted = this.initialInternal == this.postedInternal ? true : false;
                let returnPosted = this.errorInternal + this.succeedInternal
                let allReturn = this.postedInternal ==  returnPosted ? true : false;
                let isDone = allPosted && allReturn;
                return isDone;
            },
            watcherListener: function(val) {},
            registerListener: function(listener) {
                this.watcherListener = listener;
            }
        }
    }


    //Startup (OnLoad)
    $(function () {
        //$('#BranchCode').selectpicker();
        //$('#AccountType').selectpicker();

        $('button[data-toggle=modal], button[data-toggle=modal]').click(function () {
            if ($(this).data('id') !== 'undefined') {
                modalSwitcher = $(this).data('id');
            }
        })

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        });

        // Set readonly fields
        @if(ActionName=="Edit")
        {
            @:$("#NIK").attr("readonly", "readonly");
                                                    //@:$("#inputPass").hide();
        }

    });
    //end

    function setupImageEditor(data) {
        if (modalSwitcher === 'Signatures') {
            data.Index = Signatures.length + 1;
            data.IsNew = true;
            data.IsValidImage = true;
            Signatures.push(data);
            signTable.row.add(data).draw();
        }
    }

    function setupFileUploader(data) {
        data.Index = Documents.length + 1;
        data.IsNew = true;
        data.IsValidDoc = true;
        Documents.push(data);
        documentTable.row.add(data).draw();
    }

    var signTable = $('.datatable-sign').DataTable({
        data: Signatures,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-left",
                render: function (data, type, full, meta) {
                    return '<a href="#"><img src="'+full.ImageType+full.CroppedBlob+'" style="height:148px; width:236px;" class="text-slate-700" onClick="popupImage(this)" /></a>';
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
            {
                orderable: false,
                width: '150px',
                targets: [1],
                data: "Index",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<button type="button" class="text-slate-700 remove_item"><i class="icon-cross2"></i></button>';
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }, {
            "name": "ImageType",
            "data": "ImageType"
        }],
    });

    var documentTable = $('.datatable-document').DataTable({
        data: Documents,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "FileBlob",
                render: function (data, type, full, meta) {

                    var link = document.createElement('a');
                    var img = document.createElement('img');
                    var downloadFileName = '';
                    const binaryString = window.atob(full.FileBlob);
                    const len = binaryString.length;
                    const bytes = new Uint8Array(len);
                    for (let i = 0; i < len; ++i) {
                        bytes[i] = binaryString.charCodeAt(i);
                    }

                    var filetype;
                    var imgsrc = '';
                    if (full.FileType === 'data:application/pdf;base64,') {
                        filetype = 'application/pdf';
                        imgsrc = '../../Content/images/pdf-icon.png';
                        downloadFileName = full.DocumentType + ".pdf";
                    } else if (full.FileType === 'data:image/tiff;base64,') {
                        filetype = 'image/tiff';
                        imgsrc = '../../Content/images/tiff-icon.png';
                        downloadFileName = full.DocumentType + ".tiff";
                    }

                    var filedoc = new Blob([bytes], { type: filetype });

                    var doctype = alldocTypes.filter(function (ele) { return ele.Value === full.DocumentType; })[0];
                    var doctypetext = document.createElement('span');
                    if (doctype !== null) {
                        doctypetext.textContent = doctype.Text;
                    } else {
                        doctypetext.textContent = full.DocumentType;
                    }

                    link.href = URL.createObjectURL(filedoc);
                    //link.download = downloadFileName;
                    link.target = "_blank";

                    img.src = imgsrc;
                    img.width = 48;
                    img.height = 48;
                    link.appendChild(img);
                    link.appendChild(doctypetext);
                    return link.outerHTML;
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
            {
                orderable: false,
                width: '150px',
                targets: [1],
                data: "Index",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return '<button type="button" class="text-slate-700 remove_item"><i class="icon-cross2"></i></button>';
                }
            },
        ],
        columns:
        [{
            "name": "Document",
            "data": "FileBlob"
        }, {
            "name": "FileType",
            "data": "FileType"
        }],
    });

    $('.datatable-sign').on('click', 'button.remove_item', function (e) {
        e.preventDefault();
        var data = signTable.row($(this).closest('tr')).data();
        if (data.IsNew == false)
        {
            DeletedSignatures.push({ID: data.ID});
        }

        signTable.rows($(this).closest('tr')).remove().draw();
        Signatures = arrayRemove(Signatures, data.Index);
    });

    $('.datatable-document').on('click', 'button.remove_item', function (e) {
        e.preventDefault();
        var data = documentTable.row($(this).closest('tr')).data();
        if (data.IsNew == false)
        {
            DeletedDocuments.push({ID: data.ID});
        }
        documentTable.rows($(this).closest('tr')).remove().draw();
        Documents = arrayRemove(Documents, data.Index);
    });


    function arrayRemove(arr, value) {
        var newarr = arr.filter(function (ele) { return ele.Index != value; });
        for (i = 0; i < newarr.length; i++) {
            newarr[i].Index = i+1;
        }
        return newarr;
    }


    $('form').submit(function (e) {
        e.preventDefault();

        watcherDocument.initial = Documents.length;
        watcherSign.initial = Signatures.length;

        if(Signatures.length == 0){
            alert("Signatures cannot be Empty!");
            $.unblockUI();
        }
        else if ($('#Region').val() == "ALL" || $('#Region').val() == "") {
            //alert("Region cannot be Empty!");
            $.unblockUI();
        }
        else if ($('#Division').val() == "") {
            //alert("Division cannot be Empty!");
            $.unblockUI();
        }
        //else if ($('#Departement').val() == "") {
        //    //alert("Departement cannot be Empty!");
        //    $.unblockUI();
        //}
        else
        {
            $.blockUI({
                message: '<i class="icon-spinner4 spinner"></i>',
                overlayCSS: {
                    backgroundColor: '#1b2024',
                    opacity: 0.8,
                    zIndex: 1200,
                    cursor: 'wait'
                },
                css: {
                    border: 0,
                    color: '#fff',
                    padding: 0,
                    zIndex: 1201,
                    backgroundColor: 'transparent'
                },
            });

            var frmAction = this.action;
            var data = new Object();

            console.log(frmAction);

            data.Id = $('#Id').val();
            data.NIK = $('#NIK').val();
            data.Name = $('#Name').val();
            data.DocType = $('#DocType').val();
            data.Region = $('#Region').val();
            data.Division = $('#Division').val();
            data.Departement = $('#Departement').val();
            data.Titles = $('#Titles').val();
            data.Note = $('#Note').val();
            data.DeletedDocuments = DeletedDocuments;
            data.DeletedSignatures = DeletedSignatures;
            data.Documents = Documents;
            data.Signatures = Signatures;

            var frm = $(".form-validate");

                $.ajax({
                    type: "POST",
                    url: frmAction,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);

                        if (response.returnCode == "ERR") {
                            $.unblockUI();
                            alert(response.message);
                        }
                        else {
                            isAllComplete();
                        }
                        //isAllComplete();

                        //if (response.returnCode == 'OK')
                        //{
                        //    //saveDocument(Documents, response.NIK);
                        //    //saveSign(Signatures, response.NIK);
                        //    console.log('response OK');
                        //}
                        //else {
                        //    alert(response.message);
                        //    $.unblockUI();
                        //}
                    },
                    failure: function (response) {
                        console.log('Masuk sini B');
                        alert(response.message);
                        $.unblockUI();
                        console.log(response);
                    },
                    error: function (response) {
                        console.log('Masuk sini C');
                        alert(response.message);
                        $.unblockUI();
                        console.log(response);
                    }
                });
        }
    });

    function saveDocumentCallBack(result) {
        watcherDocument.succeed = 1;
    }
    function saveDocumentCallBackError(result) {
        alert(result);
        watcherDocument.error = 1;
    }
    @*function saveDocument(docs, nik) {
        var _url = "@Html.Treemas().Page.GetControllerUrl("CreateCentralizeDoc")" + "/NoAuthCheckDocSave";
        for (i = 0; i < docs.length; i++) {
            var item = docs[i];
            var rtnmsg = '';
            item.NIK = nik;
            var formData = createFormData(item);
            watcherDocument.posted = 1;
            if (item.IsNew) {

                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: formData,
                        async: false,
                        processData: false,
                        contentType: false,
                        success: saveDocumentCallBack,
                        failure: saveDocumentCallBackError,
                        error: saveDocumentCallBackError
                    })

            }
            else {
                watcherDocument.succeed = 1;
            }
        }
    }*@

    function createFormData(params) {
        var formData = new FormData();
        formData.append('DocumentType', params.DocumentType);
        formData.append('DocumentTypeDesc', params.DocumentTypeDesc);
        formData.append('DocumentTypeDesc', params.DocumentTypeDesc);
        formData.append('FileType', params.FileType);
        formData.append('FileBlob', params.FileBlob);
        formData.append('Index', params.Index);
        formData.append('IsNew', params.IsNew);
        formData.append('NIK', params.NIK);

        return formData;
    }

    function saveSignCallBack(result) {
        watcherSign.succeed = 1;
    }
    function saveSignCallBackError(result) {
        alert(result);
        watcherSign.error = 1;
    }

    @*function saveSign(signs, nik) {
        var _url = "@Html.Treemas().Page.GetControllerUrl("CreateCentralizeDoc")" + "/NoAuthCheckSignSave";
        for (i = 0; i < signs.length; i++) {
            var item = signs[i];
            var rtnmsg = '';
            item.NIK = nik;
            watcherSign.posted = 1;
            if (item.IsNew) {
                $.ajax({
                    type: "POST",
                    url: _url,
                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: saveSignCallBack,
                    failure: saveSignCallBackError,
                    error: saveSignCallBackError
                });
            } else {
                watcherSign.succeed = 1;

            }
            //alert(nik)
        }
    }*@

    jQuery.validator.addMethod("SpecialChar", function (value, element) {
        // allow any non-whitespace characters as the host part
        //return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
        //return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
        console.log('test');
        console.log(value);
        console.log(element);
        return this.optional(element) || /^[a-zA-Z0-9_ ]*$/.test(value);

    }, 'Special Character not be allowed');


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            NIK: {
                number: true
            },
            Name: {
                minlength: 3,
                SpecialChar : true
            }
          
        }
    });


    //function setupLookupValueAccountMaster(data) {
    //    $('#AccountType').selectpicker('val', data["AccountType"]);
    //    $('#BranchCode').selectpicker('val', data["BranchCode"]);
    //    $('#AccountNo').val(data["AccountNo"]);
    //    $('#CIFNumber').val(data["CIFNo"]);
    //    $('#AccountName').val(data["AccountName"]);
    //    //$('#AccountType').val(data["AccountType"]);
    //}

</script>
@Html.Partial("_DeleteDialog")
@*@Html.Partial("~/Views/Lookup/AccountMasterLookup.cshtml")*@
@Html.Partial("~/Views/Lookup/ImageEditor.cshtml", ViewData)
@Html.Partial("~/Views/Lookup/FileUploaderCentralize.cshtml", Model, ViewData)
@Html.Partial("_ImagePopup")

