﻿@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">From</label>
                            <div class="col-lg-3">
                                <input name="DateFrom" id="DateFrom" type="text" class="form-control input-xs" />
                            </div>
                            <div class="col-lg-1 control-label">To</div>
                            <div class="col-lg-3">
                                <input name="DateEnd" id="DateEnd" type="text" class="form-control input-xs" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="Username" selected="selected"> Username</option>
                                    <option value="FullName">Full Name</option>
                                    <option value="CreatedBy">Created By</option>
                                    <option value="ApprovedBy">Approved By</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-lg-12">
                            @*<a href="@Html.Treemas().Page.GetActionUrl("Export")" class="btn btn-primary btn-xs" disabled="disabled">@BaseResources.Export <i class="icon-file-excel position-right"></i></a>*@
                            <button type="button" id="exportButton" class="btn btn-primary btn-xs" onclick="location.href='@Html.Treemas().Page.GetActionUrl("Export")'" disabled="disabled">@BaseResources.Export <i class="icon-file-excel position-right"></i></button>
                            <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Approval Type</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Approved By</th>                        
                        <th>Approved Date</th>                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $('#DateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });


    $('#DateEnd').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DateEnd').val(chosen_date.format('DD/MM/YYYY'));
    });


    $(document).ready(function () {
        $("#searchColumn").val("Username");
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
            $('#exportButton').prop("disabled", false);
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
           
            columns:
                [{
                    "name": "Username",
                    "data": "Username"
                }, {
                    "name": "FullName",
                    "data": "FullName"
                }, {
                    "name": "ApprovalType",
                    "data": "ApprovalType"
                }, {
                    "name": "CreatedBy",
                    "data": "CreatedBy"
                }, {
                    "name": "CreatedDate",
                    "data": "CreatedDate"
                }, {
                    "name": "ApprovedBy",
                    "data": "ApprovedBy"
                }, {
                    "name": "ApprovedDate",
                    "data": "ApprovedDate"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

</script>
