﻿<div id="delete-confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="message-text">@BaseResources.DeleteThisData</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-xs" onclick="javascript: onDeleteClick()">@BaseResources.Delete</button>
                <button type="button" class="btn btn-xs btn-default" id="delete-confirm-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>