﻿<style>
    /* styles unrelated to zoom */
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }

    p {
        position: absolute;
        top: 3px;
        right: 28px;
        color: #555;
        font: bold 13px/1 sans-serif;
    }

    /* these styles are for the demo, but are not required for the plugin */
    .zoom {
        display: inline-block;
        position: relative;
    }

        /* magnifying glass icon */
        .zoom:after {
            content: '';
            display: block;
            width: 33px;
            height: 33px;
            position: absolute;
            top: 0;
            right: 0;
            background: url(icon.png);
        }

        .zoom img {
            display: block;
            
        }

            .zoom img::selection {
                background-color: transparent;
            }
            
    #ex2 img:hover {
        cursor: url(grab.cur), default;
    }

    #ex2 img:active {
        cursor: url(grabbed.cur), default;
    }
</style>

<div id="ImagePopup" class="modal fade" tabindex="-1">
    <div class="modal-dialog" id="ImagePopupDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ZoomedPanel" class="zoom">
                            <img id="ZoomedImage" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        //$('#ZoomedPanel').zoom();
    });

    function popupImage(img) {
        $('#ZoomedImage').attr('src', img.src);
        $('#ImagePopup').modal('show');
    }

    $('#ZoomedImage').on('load', function () {
        $("#ImagePopupDialog").css("width", this.width + 42);
        $('#ZoomedPanel').zoom();
        //if ($('#ImagePopup').hasClass('in')) {
        //    $('#ZoomedPanel').zoom();
        //}
    });

   
    
</script>