﻿
@{
    ViewBag.SubTitle = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Internal Server Error - 500</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                Sorry, an error occurred while processing your request. 
            </div>
        </div>
    </div>
</div>