﻿
@{
    ViewBag.SubTitle = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Page not found - 404</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                Sorry, The Page, You are Looking for is not found.  
            </div>
        </div>
    </div>
</div>