﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@{

    string ActionName = "Edit";

    ViewBag.SubTitle = " - " + ActionName;

    ParameterCentralUnit parameter = (ParameterCentralUnit)ViewData["parameter"];
    bool InChangeRequest = (bool)ViewData["InChangeRequest"];

}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", parameter.Id)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Max Login Attempt<span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("LoginAttempt", parameter.LoginAttempt, new { @id = "LoginAttempt", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Session Timeout (min) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("SessionTimeout", parameter.SessionTimeout, new { @id = "SessionTimeout", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>*@
                        <legend class="text-semibold">SVS Central Unit</legend>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Max Size KTP (KBs) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("SizeKTP", parameter.SizeKTP, new { @id = "SizeKTP", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Max Size Signature (KBs) (JPG/JPEG Recommended format) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("SizeSignature", parameter.SizeSignature, new { @id = "SizeSignature", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Max Size Document (KBs) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("SizeDocument", parameter.SizeDocument, new { @id = "SizeDocument", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <legend class="text-semibold">@ParameterResources.BatchProses</legend>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Keep History (days) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("KeepHistory", parameter.KeepHistory, new { @id = "KeepHistory", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Keep Audit Trail (days) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("KeepAuditTrail", parameter.KeepAuditTrail, new { @id = "KeepAuditTrail", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Keep Pend Apprv (days) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("KeepPendingAppr", parameter.KeepPendingAppr, new { @id = "KeepPendingAppr", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Max diff Account (%) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("MaxDiffAccount", parameter.MaxDiffAccount, new { @id = "MaxDiffAccount", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Keep Closed Account (days) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("KeepCloseAccount", parameter.KeepCloseAccount, new { @id = "KeepCloseAccount", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>*@
                        
                        
                    </fieldset>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-panel text-right">
                        @if (InChangeRequest == false)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }

                        @*@if (InChangeRequest == false)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Back <i class="icon-checkmark3 position-right"></i></button>
                        }*@
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>



<script>

    $(function () {

        //$('#ProvinceName').selectpicker();

        // Set readonly fields
        @*@if (parameter.Id != null)
        {

        }*@

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            
        }
    });

</script>

