﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.DepartementView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> regionList = (IEnumerable<SelectListItem>)ViewData["RegionMaster"];
    IEnumerable<SelectListItem> divisionList = (IEnumerable<SelectListItem>)ViewData["DivisionMaster"];
    //var a = appList;
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Departement ID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("DepartementId", Model.DepartementId, new { @id = "DepartementId", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">Name <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">Alias <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBox("Alias", Model.Alias, new { @id = "Alias", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 10 })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Directorate / Region</label>
                            <div class="col-lg-9">
                                @*@Html.DropDownListFor(b => b.Region, regionList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })*@
                                @Html.DropDownList("Region", regionList, "Select", new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Division / Branch</label>
                            <div class="col-lg-9">
                                @*@Html.DropDownListFor(b => b.Division, divisionList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })*@
                                @Html.DropDownList("Division", divisionList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        
                        @if (Model.Id > 0)
                        {
                            if (ActionName == "Delete")
                            {
                                <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                            }
                            else
                            {
                                <button type = "submit" class="btn btn-xs btn-primary">@BaseResources.Submit<i class="icon-checkmark3 position-right"></i></button>
                            }
                            @*@Html.HiddenFor(x => Model.Application)
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>*@
                        }
                        else
                        {
                                <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetControllerUrl("Departement")?loadState=1" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        // Set readonly fields
         @if (ActionName != "Create")
        {
            @:$("#DepartementId").attr("readonly", "readonly");
        }

    });

    $("#Region").change(function () {
        var Region = $(this).val();
        $('#Division').html('');
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownRegion")",
            data: { Region: Region }
        })
          .done(
              function (data) {
                  console.log(data.Divisions.length);
                  if (data.Divisions.length > 0) {
                      
                      var options = '';

                      options += '<option value="Select">Select</option>';
                      console.log(data.Divisions);
                      console.log(data.Divisions[0]['Alias']);
                      for (var i = 0; i < data.Divisions.length; i++) {
                          options += '<option value="' + data.Divisions[i]['Alias'] + '">' + data.Divisions[i]['Alias'] + '</option>';
                      }
                      $('#Division').append(options);
                  }

            });
    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DepartementId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            Alias: {
                maxlength: 200
            }
        }
    });

</script>