﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;

@model UOB.SVS.Models.UserView

@{

    string ActionName = "Approve";

    ViewBag.SubTitle = " - " + ActionName;

    UserView user = (UserView)ViewData["UserData"];

    string resetPassword = "";
    if (user.ApprovalType == "Reset") { resetPassword = " - Reset Password"; }
}


@if (user != null)
{
    <form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
        @Html.Hidden("Id", user.Id)
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="content-group">
                            <legend class="text-semibold">@UserResources.PageTitle - @UserResources.CurrentUserData</legend>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Username </label>
                                <div class="col-lg-9 control-label">
                                    @if (user.ApprovalType != "Create")
                                    {
                                        @user.Username
                                    }
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Name </label>
                                <div class="col-lg-9 control-label">
                                    @if (user.ApprovalType != "Create")
                                    {
                                        @user.FullName
                                    }
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.InActiveDirectory </label>
                                <div class="col-lg-9 control-label">
                                    @user.sInActiveDirectory
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">Branch Code </label>
                                <div class="col-lg-9 control-label">
                                    @user.BranchCode
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Role </label>
                                <div class="col-lg-9 control-label">
                                    @user.Roles
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="content-group">
                            <legend class="text-semibold">@UserResources.ModifiedUserData @resetPassword</legend>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Username </label>
                                <div class="col-lg-9 control-label">
                                    @if (user.ApprovalType != "Delete")
                                    {
                                        @user.Username
                                    }
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Name </label>
                                <div class="col-lg-9 control-label">
                                    @user.FullNameNew
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.InActiveDirectory </label>
                                <div class="col-lg-9 control-label">
                                    @user.sInActiveDirectoryNew
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">Branch Code </label>
                                <div class="col-lg-9 control-label">
                                    @user.BranchCodeNew
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@UserResources.Role </label>
                                <div class="col-lg-9 control-label">
                                    @user.RolesNew
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="content-group">
                            <legend class="text-semibold"></legend>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-4 control-label text-bold">@BaseResources.RequestBy</label>
                                <div class="col-lg-6 control-label">
                                    @user.ChangedBy
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-4 control-label text-bold">@BaseResources.RequestDate</label>
                                <div class="col-lg-6 control-label">
                                    @user.ChangedDate
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="content-group">
                            <legend class="text-semibold"> </legend>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label text-bold">@BaseResources.Actions</label>
                                <div class="col-lg-3">
                                    <select name="ApprovalStatus" id="ApprovalStatus" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                        <option value="A">Approve</option>
                                        <option value="D">Decline</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 text-right">
                                    @if (!user.Approved)
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                    <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </form>



    <script>

        $(function () {
            $('.bootstrap-select').selectpicker();
            //$('#ProvinceName').selectpicker();

            // Set readonly fields
            @*@if (parameter.Id != null)
        {

        }*@

        });

        function DeleteData() {
            $("#delete-confirm").modal();
        }

        function onDeleteClick() {
            var list = [];

            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

            var id = document.createElement("input");
            id.setAttribute("type", "hidden");
            id.setAttribute("name", "Id");
            id.setAttribute("value", $("#Id").val());
            form.appendChild(id);
            document.body.appendChild(form);
            form.submit();
        }

        // ini untuk custom validator
        var validator = $(".form-validate").validate({
            ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
            errorClass: 'validation-error-label',
            successClass: 'validation-valid-label',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },

            // Different components require proper error label placement
            errorPlacement: function (error, element) {

                // Styled checkboxes, radios, bootstrap switch
                if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                    if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                        error.appendTo(element.parent().parent().parent().parent());
                    }
                    else {
                        error.appendTo(element.parent().parent().parent().parent().parent());
                    }
                }

                    // Input with icons and Select2
                else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                    error.appendTo(element.parent());
                }

                else {
                    error.insertAfter(element);
                }
            },
            validClass: "validation-valid-label",
            success: false,
            rules: {

            }
        });

    </script>

}
else
{

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">@ParameterResources.NothingToApprove</h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
}