﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;

@model UOB.SVS.Models.UserView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    UserView user = (UserView)ViewData["UserData"];
    //IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", user.Id, new { @id = "Id", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalStatus", "A", new { @id = "ApprovalStatus"})
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.Username </label>
                            <div class="col-lg-8 control-label">
                                @user.Username
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.PassExpDate </label>
                            <div class="col-lg-8 control-label">
                                @user.PasswordExpirationDate
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.AccValidDate </label>
                            <div class="col-lg-8 control-label">
                                @user.AccountValidityDate
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">@UserResources.Name </label>
                            <div class="col-lg-8 control-label">
                                @user.FullName
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.Role</label>
                            <div class="col-lg-8 control-label">
                                @user.Roles
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Approve <i class="icon-checkmark3 position-right"></i></button>
                        <button type="button" onclick="javascript: RejectData();" class="btn btn-xs btn-danger">@BaseResources.Reject <i class="icon-cross2 position-right"></i></button>
                        <a href="@Html.Treemas().Page.GetControllerUrl("User")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Reject")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>