﻿@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> ActionList = (IEnumerable<SelectListItem>)ViewData["ActionList"];
    string loadState = (string)ViewData["loadState"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action Date From</label>
                        <div class="col-lg-3">
                            <input name="ActionDateStart" id="ActionDateStart" type="text" class="form-control input-xs" />
                        </div>
                        <div class="col-lg-1 control-label">To</div>
                        <div class="col-lg-3">
                            <input name="ActionDateEnd" id="ActionDateEnd" type="text" class="form-control input-xs" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="ObjectName" selected="selected">Audit Type</option>
                                    <option value="Action">Data Type</option>
                                    @*<option value="PasswordExpirationDate">Password Expired Date</option>*@
                                    @*<option value="AccountValidityDate">Account Validity Date</option>*@
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@BaseResources.Actions</label>
                        <div class="col-lg-5">
                            <input name="Action" id="Action" type="text" class="form-control input-xs" placeholder="Data Type">
                        </div>
                    </div>
                </div>*@
            </div>
            @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Function Name</label>
                        <div class="col-lg-5">
                            <input name="FunctionName" id="FunctionName" type="text" class="form-control input-xs" placeholder="Function Name">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Object Name</label>
                        <div class="col-lg-5">
                            <input name="ObjectName" id="ObjectName" type="text" class="form-control input-xs" placeholder="Object Name">
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-control-panel text-left">
                        @*<button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>*@
                        <button type="button" id="ExportButton" onclick="javascript: Export();" class="btn btn-primary btn-xs">@BaseResources.Export <i class="icon-filter4 position-right"></i></button>

                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th>Timestamp</th>
                        <th>Audit Type</th>
                        <th>Data Type</th>
                        <th>Maker</th>
                        <th>Checker</th>
                        <th>Before</th>
                        <th>After</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#searchColumn").val("FunctionName");

    });

    $('#ActionDateStart').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#ActionDateStart').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#ActionDateEnd').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#ActionDateEnd').val(chosen_date.format('DD/MM/YYYY'));
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        @if (loadState == "0")
        {
            @Html.Raw("var table = $('.datatable-basic').DataTable();table.state.clear();table.destroy();");
        }

        // Basic datatable
        $('.datatable-basic').DataTable({
            scrollX: true,
            scrollY: "200px",
            scrollCollapse: true,
            processing: true,
            serverSide: true,
            stateSave: false,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,

            columns:
                [{
                    "name": "TimeStamp",
                    "data": "TimeStamp"
                }, {
                    "name": "ObjectName",
                    "data": "ObjectName"
                }, {
                    "name": "Action",
                    "data": "Action"
                }, {
                    "name": "UserMaker",
                    "data": "UserMaker"
                }, {
                    "name": "UserChecker",
                    "data": "UserChecker"
                }, {
                    "name": "ObjectValueBefore",
                    "data": "ObjectValueBefore"
                }, {
                    "name": "ObjectValueAfter",
                    "data": "ObjectValueAfter"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

        $.fn.DataTable.ext.errMode = 'alert';

        $('.datatable-basic').on('xhr.dt', function (e, settings, json, xhr) {
            if (json.msg != undefined) {
                alert(json.msg);
            }
        }).DataTable();
    });

    function Export() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Export")");

        var FunctionName = document.createElement("input");
        FunctionName.setAttribute("type", "hidden");
        FunctionName.setAttribute("name", "searchColumn");
        FunctionName.setAttribute("value", $("#searchColumn").val());
        form.appendChild(FunctionName);

        var ObjectName = document.createElement("input");
        ObjectName.setAttribute("type", "hidden");
        ObjectName.setAttribute("name", "searchValue");
        ObjectName.setAttribute("value", $("#searchValue").val());
        form.appendChild(ObjectName);

        var ActionName = document.createElement("input");
        ActionName.setAttribute("type", "hidden");
        ActionName.setAttribute("name", "Action");
        ActionName.setAttribute("value", $("#Action").val());
        form.appendChild(ActionName);

        var ActionDateStart = document.createElement("input");
        ActionDateStart.setAttribute("type", "hidden");
        ActionDateStart.setAttribute("name", "ActionDateTimeStart");
        ActionDateStart.setAttribute("value", $("#ActionDateStart").val());
        form.appendChild(ActionDateStart);

        var ActionDateEnd = document.createElement("input");
        ActionDateEnd.setAttribute("type", "hidden");
        ActionDateEnd.setAttribute("name", "ActionDateTimeEnd");
        ActionDateEnd.setAttribute("value", $("#ActionDateEnd").val());
        form.appendChild(ActionDateEnd);

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    };



</script>
