﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.SvsView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;

}
@Html.AntiForgeryToken()
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccNo <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.TextBox("ACCOUNT_NUMBER", Model.ACCOUNT_NUMBER, new { @id = "ACCOUNT_NUMBER", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.CustName<span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.TextBox("CUSTOMER_NAME", Model.CUSTOMER_NAME, new { @id = "CUSTOMER_NAME", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                    </fieldset>


                </div>

                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label input-xs">@SvsResources.Note </label>
                            <div class="col-lg-12">
                                @Html.TextArea("NOTE", Model.NOTE, 5, 5, new { @id = "NOTE", @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary" onclick="javascript: canvastToBlob();">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (Model.ID > 0)
                        {
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => Model.FSIGNATURE, new { @class = "" })
                        <input type="file" id="updImage" name="file" accept="image/*">

                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--
                                            Width: <label id="lblWidth">200px</label>
                                            Height: <label id="lblHeight">200px</label>
                                                -->
                                            <br />
                                        </td>
                                        <td>
                                            @*<a href="#" id="hlcropImage" style="vertical-align:top;">Crop Image</a>*@

                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="height:400px; width:400px; overflow:auto;" id="srcAwal">
                                                <img id="inputImage" src="~/Content/images/placeholder.jpg" alt="Image">
                                            </div>
                                            <p id="blbText"></p>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-6">
                            <br>
                            <div class="img-preview preview-lg" id="blobcanvas" style="width: 256px; height: 144px; overflow: hidden">
                                <canvas class="img-preview preview-lg" id="canvas" height="144" width="234" style="vertical-align:top;"></canvas>
                            </div>
                            <input type="hidden" id="CroppedBlob" name="CroppedBlob" />
                            <br />
                            <div id="btnCrp">
                                <input type="button" class="btn btn-xs btn-primary" onclick="ambil()" value="Crop" />
                            </div>
                        </div>
                    </div>
                    <p>

                    </p>
                    @Html.Hidden("FSIGNATURE", Model.FSIGNATURE, new { @id = "FSIGNATURE" })

                    <input type="hidden" name="avatarCropped" id="avatarCropped">
                    <input type="hidden" name="download" id="download">
                    <input type="hidden" name="actions" id="actions">
                    <input type="hidden" name="dataX" id="dataX">
                    <input type="hidden" name="dataY" id="dataY">
                    <input type="hidden" name="dataHeight" id="dataHeight">
                    <input type="hidden" name="dataWidth" id="dataWidth">
                    <input type="hidden" name="dataRotate" id="dataRotate">
                    <input type="hidden" name="dataScaleX" id="dataScaleX">
                    <input type="hidden" name="dataScaleY" id="dataScaleY">

                </div>


            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    var image;
    var cropper;

    $(function () {
        $("#btnCrp").hide();

    });

    function ambil() {
        var cropExt = "";
        var fileInput = document.getElementById('updImage').value;
        var fileSplit = fileInput.split('.');
        var fileExt = fileSplit[fileSplit.length - 1]

        if (fileExt.toUpperCase() == "PNG") {
            cropExt = "image/png";
        }
        else if (fileExt.toUpperCase() == "JPG") {
            cropExt = "image/jpeg";
        }

        var hsl = cropper.getCroppedCanvas({ maxWidth: 500, maxHeight: 500 });
        //$("#previ").html(hsl);
        var blob = hsl.toDataURL(cropExt);

        if (fileExt.toUpperCase() == "PNG") {
            cropExt = "image/png";
            $("#CroppedBlob").val(blob.replace('data:image/png;base64,', ''));
            //alert($("#CroppedBlob").val());
        }
        else if (fileExt.toUpperCase() == "JPG") {
            $("#CroppedBlob").val(blob.replace('data:image/jpeg;base64,', ''))
            //alert($("#CroppedBlob").val());
        }
        alert($("#CroppedBlob").val());
        console.log(cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 }));
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            FunctionId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            Description: {
                maxlength: 200
            }
        }
    });


    function initCrop() {
        image = document.getElementById('inputImage');
        cropper = new Cropper(image, {
            setDragMode: 'crop',
            preview: '.img-preview',
            aspectRatio: NaN,
            crop(event) {
                console.log(event);
                //console.log(event.detail.x);
                //console.log(event.detail.y);
                //console.log(event.detail.width);
                //console.log(event.detail.height);
                //console.log(event.detail.rotate);
                //console.log(event.detail.scaleX);
                //console.log(event.detail.scaleY);
            },
        });
    }

    function readFile(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            /*Destroy jcrop initialization other wise it will hold it previous image in img tag*/
            //if (jcropApi != null) {
            //    jcropApi.destroy();
            //}

            reader.onload = function (e) {
                $('#inputImage').attr('src', "");
                var img = $('#inputImage').attr('src', e.target.result);

                /*Current uploaded image size*/
                var width = img[0].height;
                var height = img[0].width;
                $("#lblWidth").text(width + "px");
                $("#lblHeight").text(height + "px");

                //InitCrop must call here otherwise it will not work
                initCrop();
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#updImage').change(function () {
        readFile(this);
        $("#btnCrp").show();
        //initCrop();
    });

    function getBlob() {

        var someimage = document.getElementById('blobcanvasx');
        var myimg = someimage.getElementsByTagName('img')[0];
        var canvas = myimg.cropper('getCroppedCanvas', { width: 145, height: 185 })
            //如果太大可以换成jpeg
            var dataURL = canvas.toDataURL('image/png');
            var blob = dataURLtoBlob(dataURL);

        var canvas = $('#inputImage').cropper("getCroppedCanvas", undefined);
        var formData = new FormData();
        formData.append('mainImage', $("#inputImage")[0].files[0]);
        formData.append('croppedImage', dataURItoBlob(canvas.toDataURL()));
        var blob = dataURItoBlob(canvas.toDataURL());
        alert(blob);
        $('#FSIGNATURE').val(blob);
    }

    function dataURItoBlob(dataURI) {
        alert("dataURItoBlob");
        var byteString = atob(dataURI.split(',')[1]);
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var arrayBuffer = new ArrayBuffer(byteString.length);
        var _ia = new Uint8Array(arrayBuffer);
        for (var i = 0; i < byteString.length; i++) {
            _ia[i] = byteString.charCodeAt(i);
        }
        var dataView = new DataView(arrayBuffer);
        var blob = new Blob([dataView.buffer], { type: mimeString });
        return blob;
    }

    function canvastToBlob() {
        //var canvas = document.createElement('canvas')
        var img = new Image;
        var canvas = document.createElement('canvas')
        /* ... your canvas manipulations ... */

        canvas = $("#blobcanvas")[0];

        var img_blob = document.getElementById('blobcanvas').innerHTML;
        //var img_blob2 = dataURItoBlob(canvas.toDataURL('image/png'));
        $('#FSIGNATURE').val(img_blob);


    }

    // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`
    //function getBlob() {
    //    var canvas = $('#inputImage').cropper('getCroppedCanvas', { width: 145, height: 185 })
    //    //如果太大可以换成jpeg
    //    var dataURL = canvas.toDataURL('image/png');
    //    var blob = dataURLtoBlob(dataURL);

    //    cropper.getCroppedCanvas().toBlob((blob) => {
    //        const formData = new FormData();

    //        formData.append('croppedImage', blob);
    //        $('#FSIGNATURE').val(blob);

    //        // Use `jQuery.ajax` method
    //        //$.ajax('/path/to/upload', {
    //        //    method: "POST",
    //        //    data: formData,
    //        //    processData: false,
    //        //    contentType: false,
    //        //    success() {
    //        //        console.log('Upload success');
    //        //    },
    //        //    error() {
    //        //        console.log('Upload error');
    //        //    },
    //        //});
    //    });
    //}

</script>