﻿@{
    ViewBag.SubTitle = " - Index";
    string loadState = (string)ViewData["loadState"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <button type="button" id="exportButton" class="btn btn-primary btn-xs" onclick="Export()">@BaseResources.Export <i class="icon-file-excel position-right"></i></button>
                        <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="RoleId">Role</option>
                                    <option value="Name">Description</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>Role</th>
                        <th>Description</th>
                        <th>Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    function Export() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Export")");

        var FunctionName = document.createElement("input");
        FunctionName.setAttribute("type", "hidden");
        FunctionName.setAttribute("name", "searchColumn");
        FunctionName.setAttribute("value", $("#searchColumn").val());
        form.appendChild(FunctionName);

        var ObjectName = document.createElement("input");
        ObjectName.setAttribute("type", "hidden");
        ObjectName.setAttribute("name", "searchValue");
        ObjectName.setAttribute("value", $("#searchValue").val());
        form.appendChild(ObjectName);

        document.body.appendChild(form);
        form.submit();
    }

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#searchValue').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                alert("Filter value min 3 character.");
                return false;
            } else {
                $('.datatable-basic').DataTable().ajax.reload();
            }
        });

        $('#filterButton').click(function () {
            if (searchValue.value.length < 3) {
                alert("Filter value min 3 character.");
                return false;
            } else {
                $('.datatable-basic').DataTable().ajax.reload();
            }
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        @if (loadState == "0")
        {
            @Html.Raw("var table = $('.datatable-basic').DataTable();table.state.clear();table.destroy();");
        }

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    console.log(frm_data);
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "Id",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }],
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "RoleId",
                    "data": "RoleId"
                }, {
                    "name": "Name",
                    "data": "Name"
                }
                , {
                    "name": "CreatedDate",
                    "data": "CreatedDate"
                }
                ],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>