﻿@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                @*<div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetActionUrl("Export")" class="btn btn-primary btn-xs">@BaseResources.Export <i class="icon-file-excel position-right"></i></a>
                    </div>
                </div>*@
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">

                            <div class="form-group">
                                <label class="col-lg-3 control-label">From</label>
                                <div class="col-lg-3">
                                    <input name="TanggalStart" id="TanggalStart" type="text" class="form-control input-xs" />
                                </div>
                                <div class="col-lg-1 control-label">To</div>
                                <div class="col-lg-3">
                                    <input name="TanggalEnd" id="TanggalEnd" type="text" class="form-control input-xs" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                    <a href="@Html.Treemas().Page.GetActionUrl("Export")" class="btn btn-primary btn-xs">@BaseResources.Export <i class="icon-file-excel position-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Doc Type</th>
                        <th>Note</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $('#TanggalStart').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'MM/DD/YYYY'
        }

    }, function (chosen_date) {
        $('#TanggalStart').val(chosen_date.format('MM/DD/YYYY'));
    });

    $('#TanggalEnd').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'MM/DD/YYYY'
        }

    }, function (chosen_date) {
        $('#TanggalEnd').val(chosen_date.format('MM/DD/YYYY'));
        //alert(('#TanggalFPDOEnd').val());
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: "@Html.Treemas().Page.GetActionUrl("Search")",
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('form').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "AccountNo",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                        }
                    }],
                columns:
                    [{
                        "name": "NIK",
                        "data": "NIK"
                    }, {
                        "name": "NIK",
                        "data": "NIK"
                    }, {
                        "name": "Name",
                        "data": "Name"
                    }, {
                        "name": "Doc Type",
                        "data": "DocType"
                    }, {
                        "name": "Note",
                        "data": "Note"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                }
            });

    });


</script>
