﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.UserView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> branchList = (IEnumerable<SelectListItem>)ViewData["BranchMaster"];

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group" hidden>
                            <label class="col-lg-4 control-label input-xs">@UserResources.InActiveDirectory<span class="text-danger">*</span> </label>
                            <div class="col-lg-3">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.No
                                    @Html.CheckBox("InActiveDirectory", Model.InActiveDirectory, new { @id = "InActiveDirectory", @class = "switchery", @onchange = "javascript: hidePass();" })
                                    @BaseResources.Yes
                                </div>
                            </div>
                        </div>

                        @Html.Hidden("InActiveDirectory", Model.InActiveDirectory)

                        <div class="form-group">
                            <label class="col-lg-4 control-label">User ID (In Active Directory)<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                @Html.TextBox("Username", Model.Username, new { @id = "Username", @required = "required", @autocomplete = "off", @placeholder = "User ID", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @if (Model.Id == 0)
                        {
                            <div id="passwordDiv">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">@UserResources.Password <span class="text-danger">*</span></label>
                                    <div class="col-lg-8">
                                        @Html.Password("Password", Model.Password, new { @id = "Password", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">@UserResources.ConfirmPass <span class="text-danger">*</span></label>
                                    <div class="col-lg-8">
                                        @Html.Password("ConfirmPassword", Model.Password, new { @id = "ConfirmPassword", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                                    </div>
                                </div>
                            </div>
                        }
                        @* <div class="form-group" hidden>
                                <label class="col-lg-4 control-label">@UserResources.PassExpDate <span class="text-danger">*</span></label>
                                <div class="col-lg-8">
                                    @Html.TextBox("PasswordExpirationDate", Model.PasswordExpirationDate, new { @id = "PasswordExpirationDate", @autocomplete = "off", @class = "form-control input-xs", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label class="col-lg-4 control-label">@UserResources.AccValidDate <span class="text-danger">*</span></label>
                                <div class="col-lg-8">

                                    @Html.TextBox("AccountValidityDate", Model.AccountValidityDate, new { @id = "AccountValidityDate", @autocomplete = "off", @class = "form-control input-xs", @disabled = "true" })
                                </div>
                            </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Full Name <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                @Html.TextBox("FullName", Model.FullName, new { @id = "FullName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @placeholder = "Full Name", @maxlength = "50" })
                            </div>
                            @*<div class="col-lg-4">
                                    @Html.TextBox("LastName", Model.LastName, new { @id = "LastName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @placeholder = "LastName", @maxlength = "20" })
                                </div>*@
                        </div>
                        <div class="form-group" hidden>
                            <label class="col-lg-4 control-label">@UserResources.RegNo <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                @Html.TextBox("RegNo", Model.RegNo, new { @id = "RegNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">Branch Code <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(b => b.BranchCode, branchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">User Role <span class="text-danger">*</span></label>
                            <div class="col-lg-3">
                                <button id="btnRole" onclick="javascript: setrole();" type="button" class="btn btn-xs btn-default">Set Role</button>
                                @*<a id="btnRole" href="@Html.Treemas().Page.GetControllerUrl("UserApplicationRole")/@Model.UserAppID" class="btn btn-xs btn-default">Set Role</a>*@
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-lg-3 control-label">@UserResources.SessionTimeout <span class="text-danger">*</span></label>
                                <div class="col-lg-4">
                                    @Html.TextBox("SessionTimeout", Model.SessionTimeout, new { @id = "SessionTimeout", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group" ">
                                <label class="col-lg-3 control-label">@UserResources.LockTimeout <span class="text-danger">*</span></label>
                                <div class="col-lg-4">
                                    @Html.TextBox("LockTimeout", Model.LockTimeout, new { @id = "LockTimeout", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group" ">
                                <label class="col-lg-3 control-label">@UserResources.MaxConLogin <span class="text-danger">*</span></label>
                                <div class="col-lg-4">
                                    @Html.TextBox("MaxConLogin", Model.MaxConLogin, new { @id = "MaxConLogin", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>*@

                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary" onclick="isActiveDir()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (Model.Id > 0)
                        {
                            if (Model.InActiveDirectory == false)
                            {
                                <a href="@Html.Treemas().Page.GetActionUrl("Reset")/@Model.Id" class="btn btn-default btn-xs">@UserResources.Reset</a>
                            }
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetControllerUrl("User")?loadState=1" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>
    function Print(Id) {
        var win = window.open("@Html.Treemas().Page.GetActionUrl("Print?id=")" + Id, "_blank");
        win.document.write = ('<html><head><title>Password Print</title></head></html>');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for this website');
        }
    }
    $(function () {
        $('#BranchCode').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        $('#PasswordExpirationDate').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (chosen_date) {
            $('#PasswordExpirationDate').val(chosen_date.format('DD/MM/YYYY'));
        });

        $('#AccountValidityDate').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (chosen_date) {
            $('#AccountValidityDate').val(chosen_date.format('DD/MM/YYYY'));
        });

        // Set readonly fields
        @if(Model.Id>0)
        {
            @:$("#Username").attr("readonly", "readonly");
                    //@:$("#btnRole").attr("disabled", "false");
                                                    //@:$("#inputPass").hide();
        }
        else
        {
            @:$("#btnRole").attr("disabled", "disabled");
                }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    //function set role
    function setrole() {
        location.href = "@Html.Treemas().Page.GetControllerUrl("UserApplicationRole")/@Model.UserAppID";
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    jQuery.validator.addMethod("password", function (value, element) {
        // allow any non-whitespace characters as the host part
        return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
    }, 'Password must be alphabet with at least 1 numeric or 1 special characther ');


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            ApplicationId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            password: true,
            ConfirmPassword: {
                equalTo: "#Password"
            },
            messages: {
                password: " Enter Password",
                ConfirmPassword: "Please enter the same value again."
            }
        }
    });

    function isActiveDir() {
        if (document.getElementById('InActiveDirectory').checked == true) {
            $('#Password').removeAttr('required');
            $('#ConfirmPassword').removeAttr('required');
        } else {
            $('#Password').attr('required', true);
            $('#ConfirmPassword').attr('required', true);
        }
    }

    // A $( document ).ready() block.
    $(document).ready(function () {
        isActiveDir();
        hidePass();
    });

    function hidePass() {
        if (document.getElementById('InActiveDirectory').checked == true) {
            $('#Password').hide();
            $('#ConfirmPassword').hide();
            $('#passwordDiv').hide();
        } else {
            $('#Password').show();
            $('#ConfirmPassword').show();
            $('#passwordDiv').show();
        }
    }

</script>