﻿@using Treemas.Credential.Model;
@using UOB.SVS.Resources;
@{
    ViewBag.SubTitle = " - Index";
    UserHelper userhelper = (UserHelper)ViewData["Userhelper"];
}
@Html.Hidden("UserName", userhelper.Username)

<div class="panel panel-flat">
    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div class="col-md-6 col-lg-9 content-group">
                <ul class="list-condensed list-unstyled">
                    <li><h5>Username - @userhelper.Username</h5></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetControllerUrl("User")" class="btn btn-default btn-xs">Back</a>
                        <button type="submit" class="btn btn-xs btn-primary" onclick="Submit()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="Application">Application</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th>Application Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        Apptable =  $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("UserApplication")" + "/Search",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.Selected == 1) {
                    $(row).addClass('selected');
                    var ctx = Apptable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '100px',
                    data: "Selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.Selected == true)
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.Username + '"  checked/>';
                        else
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.Username + '" />';

                    }
                },
            {
                orderable: false,
                width: '100px',
                targets: [2],
                data: "Id",
                className: "text-center",
                render: function (data, type, full, meta) {
                    if (data != 0)
                        return '<a href="@Html.Treemas().Page.GetControllerUrl("UserApplicationRole")/' + data + '" class="text-primary">Role</a>';
                    else
                        return "-";
                }

            }],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
                [{
                    "name": "Id",
                    "data": "Id"

                }, {
                    "name": "Application",
                    "data": "Application",
                    "class": 'application'
                }, {
                    "name": "Id",
                    "data": "Id"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

   function SetSelected(item, index) {
        @*var ctx = Apptable.settings()[0];
        var checked = !ctx.aoData[index]._select_selected;
        var user = $(item).val();
        var row = $(item).closest('tr');
        var app = $(row).find(".application").text();

        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("UserApplication")/Create",
            data: {
                Application: app,
                IsDefault: false,
                Username: user,
                Selected: checked
            },
            success: function(data){
                addnewLink(data, index);
            }
        })
        .done(function (msg) {
            console.log(msg);
        });*@

    }

    function addnewLink(data, index) {
        var ctx = Apptable.settings()[0];
        ctx.aoData[index]._aData.Id = data.Id;
        Apptable.draw(false);
    }
    
    function Submit() {
        var userName = $('#UserName').val();
        var apps = "";

        var data = Apptable.rows().data();
        data.each(function (value, index) {
            if (Apptable.settings()[0].aoData[index]._select_selected) {
                apps += value.Application + " ,";
            }
        });
        apps = apps.toString().substring(0, apps.length - 1).trim();
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("UserApplication")/Edit"
            , data: { userName: userName, apps: apps }
    }).done(function (msg) {
        if (msg.toString() == "@ApplicationResources.Validation_Success") {
            console.log(msg);
            alert(msg);
            var url = '@Url.Action("Index", "User")';
            window.location.href = url;
        }
        else {
            alert(msg);
        }
    });
    }

</script>