﻿@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat" style="min-height: 83vh;">
    <div class="panel-body">
        
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value=""></option>
                                    <option value="NIK">NIK</option>
                                    <option value="Name">Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="reqType" id="reqType" placeholder="Request type" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="">ALL</option>
                                    <option value="C">Create</option>
                                    <option value="U">Update</option>
                                    <option value="D">Delete</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-slate-800">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Approval Type</th>
                        <th>Maker</th>
                        <th>Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
                processing: true,
                serverSide: true,
                stateSave: false,
                ajax: {
                    url: "@Html.Treemas().Page.GetActionUrl("Search")",
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('form').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "Name",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                        }
                    }],
                columns:
                    [{
                        "name": "NIK",
                        "data": "NIK"
                    }, {
                        "name": "NIK",
                        "data": "NIK"
                    }, {
                        "name": "Name",
                        "data": "Name"
                    }, {
                        "name": "RequestTypeString",
                        "data": "RequestTypeString"
                    }, {
                        "name": "RequestUser",
                        "data": "RequestUser"
                    }, {
                        "name": "RequestDateString",
                        "data": "RequestDateString"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                }
            });

    });


</script>
