﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;

@model UOB.SVS.Models.DepartementCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    var a = appList;
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];
    DepartementCrView departementData = (DepartementCrView)ViewData["departementCrData"];
    switch (departementData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Departement Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Departement Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Departement Delete";
            break;
    }
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", departementData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", departementData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApplicationID", departementData.ApplicationID, new { @id = "ApplicationID", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("Application")

    <div class="panel panel-flat">
        <div class="panel-body">
            @if (departementData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (departementData.ApprovalType == "U")
                {
                    <div class="col-md-6">
                        <fieldset>
                            @*<div class="form-group form-group-xs">
            <label class="col-lg-3 control-label">@RoleResources.SelectApplication</label>
            <div class="col-lg-9">
                @Html.TextBox("ApplicationBefore", Model.ApplicationBefore, new { @id = "ApplicationBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
            </div>
        </div>*@
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">Departement ID </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("DepartementIdBefore", Model.DepartementIdBefore, new { @id = "DepartementIdBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">Name </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("NameBefore", Model.NameBefore, new { @id = "NameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">Alias </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("AliasBefore", Model.AliasBefore, new { @id = "AliasBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">Region </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("RegionBefore", Model.RegionBefore, new { @id = "RegionBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">Division </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("DivisionBefore", Model.DivisionBefore, new { @id = "DivisionBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        @*<div class="form-group form-group-xs">
            <label class="col-lg-3 control-label">@RoleResources.SelectApplication</label>
            <div class="col-lg-9">
                @Html.TextBox("Application", Model.Application, new { @id = "Application", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
            </div>
        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Departement ID </label>
                            <div class="col-lg-6">
                                @Html.TextBox("DepartementId", Model.DepartementId, new { @id = "DepartementId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Name </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Alias </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Alias", Model.Alias, new { @id = "Alias", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Region </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Region", Model.Region, new { @id = "Region", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Division </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Division", Model.Division, new { @id = "Division", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!departementData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectRole")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>