﻿@using Treemas.Credential.Model;
@using UOB.SVS.Resources;
@{
    ViewBag.SubTitle = " - Index";
    UserApplication userapp = (UserApplication)ViewData["UserApp"];
    User cUser = (User)ViewData["vUser"];
}
@Html.Hidden("UserName", userapp.Username)

<div class="panel panel-flat">
    <div class="panel-body no-padding-bottom">
        <div class="row">
            @*<div class="col-md-6 col-lg-9 content-group">
                    <ul class="list-condensed list-unstyled">
                        <li><h5>@userapp.Username - @userapp.Application</h5></li>
                    </ul>
                </div>*@
            <div class="form-group">
                <label class="col-lg-2 control-label">User ID</label>
                <div class="col-lg-10">
                    <label>@cUser.Username</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Full Name</label>
                <div class="col-lg-10">
                    <label>@cUser.FullName</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetControllerUrl("User/Edit")/@cUser.Id" class="btn btn-default btn-xs">Back</a>
                        <button type="submit" class="btn btn-xs btn-primary" onclick="Submit()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="RoleId">Role</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th>Role</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    var Roletable = null;

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        Roletable = $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: false,

            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                }
            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.Selected == 1) {
                    $(row).addClass('selected');
                    var ctx = Roletable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '80px',
                    data: "Selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.Selected == true)
                            return '<input type="checkbox" class="select-checkbox" value="' + full.Id + '" checked/>'
                        else
                            return '<input type="checkbox" class="select-checkbox" value="' + full.Id + '" />'
                    }
                }],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
            [{
                "name": "Id",
                "data": "Id"
            }, {
                "name": "RoleId",
                "data": "Role"
            }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

        Roletable.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                var table = $('.datatable-basic').DataTable();

                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var node = this.node();
                    var chk = $(node).find('input');
                    if (rowIdx != indexes) {
                        chk.prop('checked', false);
                        table.rows(rowIdx).deselect();
                    }
                });
            }
        });

    })

    function Submit() {
        var userName = $('#UserName').val();

        var roles = "";

        var table = $('.datatable-basic');
        var rows = table.find('tbody tr');

        $.each(rows, function () {
            var checkbox = $($(this).find('td').eq(0)).find('input');
            if (checkbox.prop('checked')) {
                roles = $(this).find('td').eq(1)[0].innerHTML;
            }
        });

        console.log(roles);

        if (roles != "") {
            $.ajax({
                method: "POST",
                url: "@Html.Treemas().Page.GetActionUrl("Edit")",
                data: { userName: userName, roles: roles }
                //data: { userName: userName }
            }).done(function (msg) {
                console.log(msg);
                if (msg.toString() == "@RoleResources.Validation_Success") {

                    alert(msg.toString() + " and waiting for approval");
                    var url = "@Html.Treemas().Page.GetControllerUrl("Home")/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            });
        }
        else {
            alert('Please Select any role!');
        }
    }

</script>