<li><a href="#" ><i class="icon-user"></i> <span>User Management</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("User")"><i class="icon-user"></i> <span>Master User</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserApproval")"><i class="icon-user-check"></i> <span>User Approval</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-feed"></i> <span>Application Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApplicationCrApproval")"><span>App Settings Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AppAuditTrail")"><span>App Settings Audit Trail </span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-hammer-wrench"></i> <span>Parameter Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterApproval")"><span>Approval</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-user"></i> <span>SVS Main</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("WaitingApproval")"><span>Waiting Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApproveSVS")"><span>SVS Approval</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-user"></i> <span>SVS CENTRAL UNIT</span></a><ul>
<li><a href="#" ><span>Application Setting</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("MasterCrApprovalCentralize")"><span>Approval Master</span></a></li>
</ul></li>
<li><a href="#" ><span>Parameter Setting</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterApprovalCentralUnit")"><span>Approval</span></a></li>
</ul></li>
<li><a href="#" ><span>Main</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApproveSVSCentralUnit")"><span>SVS Approval</span></a></li>
</ul></li>
</ul></li>
