<li><a href="#" ><i class="icon-user"></i> <span>User Management</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("User")"><i class="icon-user"></i> <span>Master User</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserApproval")"><i class="icon-user-check"></i> <span>User Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserAuditTrail")"><i class="icon-file-check2"></i> <span>Audit Trail</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-feed"></i> <span>Application Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Role")"><span>Master Role</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("RoleFunction")"><span>Role Function</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Menu")"><span>Master Menu</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Branch")"><span>Master Branch</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AccountPrefix")"><span>Master Account Prefix</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DocumentType")"><span>Master Document Type</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("RoleDoctType")"><span>Role Document Type</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApplicationCrApproval")"><span>App Settings Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AppAuditTrail")"><span>App Settings Audit Trail </span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-hammer-wrench"></i> <span>Parameter Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Parameter")"><span>Edit</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterApproval")"><span>Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterAuditTrail")"><span>Audit Trail</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PushDataFile")"><span>Pus Data Master Account</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-user"></i> <span>SVS Main</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CreateSVS")"><span>Add New</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UpdateSVS")"><span>Edit/Update</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CopySVS")"><span>Copy</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("InquirySVS")"><span>Inquiry/Display</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DeleteSVS")"><span>Delete</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("WaitingApproval")"><span>Waiting Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApproveSVS")"><span>SVS Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AuditTrail")"><span>Audit Trail SVS</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ExceptionReport")"><span>SVS Exception Report</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-user"></i> <span>SVS CENTRAL UNIT</span></a><ul>
<li><a href="#" ><span>Application Setting</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Region")"><span>Master Region</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Division")"><span>Master Division</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Departement")"><span>Master Departement</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CentralUnitDocType")"><span>Master Doc Type</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("MasterCrApprovalCentralize")"><span>Approval Master</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AppAuditTrailCentralize")"><span>App Setting AuditTrail</span></a></li>
</ul></li>
<li><a href="#" ><span>Parameter Setting</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterCentralUnit")"><span>Setting</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterApprovalCentralUnit")"><span>Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ParameterAuditTrailCentralUnit")"><span>Audit Trail</span></a></li>
</ul></li>
<li><a href="#" ><span>Main</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CreateCentralizeDoc")"><span>Add New</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UpdateCentralize")"><span>Edit/Update</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("CopySVSCentralize")"><span>Copy</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("InquiryCentralize")"><span>Inquiry / Display</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("DeleteCentralize")"><span>Delete</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("WaitingApprovalCentralize")"><span>Waiting Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApproveSVSCentralUnit")"><span>SVS Approval</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PurgingCentralize")"><span>Purging</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AuditTrailCentralUnit")"><span>Audit Trail</span></a></li>
</ul></li>
</ul></li>
