﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.ApplicationCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    ApplicationCrView appData = (ApplicationCrView)ViewData["appCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];
    switch (appData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Application Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Application Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Application Delete";
            break;
    }

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", appData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", appData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    <div class="panel panel-flat">
        <div class="panel-body">
            @if (appData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (appData.ApprovalType == "U")
                {
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.ApplicationId</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("ApplicationIdBefore", Model.ApplicationIdBefore, new { @id = "ApplicationIdBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.ApplicationName</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("NameBefore", Model.NameBefore, new { @id = "NameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.Type</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("TypeBefore", Model.TypeBefore, new { @id = "TypeBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.Runtime</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("RuntimeBefore", Model.RuntimeBefore, new { @id = "RuntimeBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@ApplicationResources.Description </label>
                                <div class="col-lg-9">
                                    @Html.TextArea("DescriptionBefore", Model.DescriptionBefore, 5, 5, new { @id = "DescriptionBefore", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.CSSColor</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("CSSColorBefore", Model.CSSColorBefore, new { @id = "CSSColorBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@ApplicationResources.Icon</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("IconBefore", Model.Icon, new { @id = "IconBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.ApplicationId</label>
                            <div class="col-lg-6">
                                @Html.TextBox("ApplicationId", Model.ApplicationId, new { @id = "ApplicationId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.ApplicationName</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.Type</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Type", Model.Type, new { @id = "Type", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.Runtime</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Runtime", Model.Runtime, new { @id = "Runtime", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@ApplicationResources.Description </label>
                            <div class="col-lg-9">
                                @Html.TextArea("Description", Model.Description, 5, 5, new { @id = "Description", @autocomplete = "off", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.CSSColor</label>
                            <div class="col-lg-6">
                                @Html.TextBox("CSSColor", Model.CSSColor, new { @id = "CSSColor", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@ApplicationResources.Icon</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Icon", Model.Icon, new { @id = "Icon", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!appData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-control-panel text-right">
                    @if (!appData.Approved)
                    {

                        <button type="button" onclick="javascript: RejectData();" class="btn btn-xs btn-danger">@BaseResources.Reject <i class="icon-cross2 position-right"></i></button>
                    }
                    <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                </div>*@

        </div>
    </div>
</form>


<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectApp")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


</script>