﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;
@model UOB.SVS.Models.RoleFunctionCrView
@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    RoleFunctionCrView rfCrData = (RoleFunctionCrView)ViewData["rfCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (rfCrData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Function of Role Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Function of Role Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Function of Role Delete";
            break;
    }
}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", rfCrData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", rfCrData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("RoleId", rfCrData.RoleId, new { @id = "RoleId", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("CreatedBy", rfCrData.CreatedBy, new { @id = "CreatedBy", @autocomplete = "off", @class = "form-control input-xs" })


    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <label class="col-lg-1">@RoleResources.RoleName</label>
                <label class="col-lg-6">@rfCrData.Name</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Function List Before</h5>
                </div>
                <div class="col-md-6">
                    <h5>Function List After</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    @foreach (FunctionView ff in rfCrData.OldFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-6 control-label">@ff.Name</label>
                            </div>
                        </fieldset>
                    }
                </div>
                <div class="col-md-6">
                    @foreach (FunctionView ff in rfCrData.NewFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-6 control-label">@ff.Name</label>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!rfCrData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectRoleFunctionzz")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>