﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;
@using UOB.SVS.Models;

@model UOB.SVS.Models.MenuCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    MenuCrView menuCrData = (MenuCrView)ViewData["menuCrData"];

    string RootMenuId = (string)ViewData["RootMenuId"];
    string ParentMenuName = (string)ViewData["ParentMenuName"];
    string ParentMenuId = (string)ViewData["ParentMenu"];
    string Application = (string)ViewData["Application"];

    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (menuCrData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Menu Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Menu Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Menu Delete";
            break;
        case "N":
            ViewBag.SubTitle = " - Add Child Menu";
            break;
    }
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", menuCrData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", menuCrData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApplicationID", menuCrData.ApplicationID, new { @id = "ApplicationID", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("FunctionId", menuCrData.FunctionId, new { @id = "FunctionId", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ParentMenu", menuCrData.ParentMenu, new { @id = "ParentMenu", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("RootMenuId")
    @Html.Hidden("Application")

    <div class="panel panel-flat">
        <div class="panel-body">
            @if (menuCrData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (menuCrData.ApprovalType == "U")
                {
                    <div class="col-md-6">
                        <fieldset>
                            @*<div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.SelectApplication</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("ApplicationBefore", Model.ApplicationBefore, new { @id = "ApplicationBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>*@
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Id</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("MenuIdBefore", Model.MenuIdBefore, new { @id = "MenuIdBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Name</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuNameBefore", Model.MenuNameBefore, new { @id = "MenuNameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@MenuResources.Function </label>
                                <div class="col-lg-9">
                                    @Html.TextBox("FunctionNameBefore", Model.FunctionNameBefore, new { @id = "FunctionNameBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_URL</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuUrlBefore", Model.MenuUrlBefore, new { @id = "MenuUrlBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Order</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuOrderBefore", Model.MenuOrderBefore, new { @id = "MenuOrderBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            @*<div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Icon</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuIconBefore", Model.MenuIconBefore, new { @id = "MenuIconBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>*@
                            <div class="form-group form-group-xs">
                                <label class="col-lg-4 control-label">@MenuResources.Active</label>
                                <div class="col-lg-3">
                                    <div class="checkbox checkbox-switchery switchery-xs ">
                                        @Html.HiddenFor(a => Model.ActiveBefore)
                                        @Html.CheckBox("ActiveBefore", Model.ActiveBefore, new { @id = "ActiveBefore", @class = "switchery", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.SelectApplication</label>
                            <div class="col-lg-3">
                                @Html.TextBox("Application", Model.Application, new { @id = "Application", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.Menu_Id</label>
                            <div class="col-lg-3">
                                @Html.TextBox("MenuId", Model.MenuId, new { @id = "MenuId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.Menu_Name</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MenuName", Model.MenuName, new { @id = "MenuName", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">@MenuResources.Function </label>
                            <div class="col-lg-9">
                                @Html.TextBox("FunctionName", Model.FunctionName, new { @id = "FunctionName", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.Menu_URL</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MenuUrl", Model.MenuUrl, new { @id = "MenuUrl", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.Menu_Order</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MenuOrder", Model.MenuOrder, new { @id = "MenuOrder", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        @*<div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@MenuResources.Icon</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MenuIcon", Model.MenuIcon, new { @id = "MenuIcon", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>*@
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">@MenuResources.Active</label>
                            <div class="col-lg-3">
                                <div class="checkbox checkbox-switchery switchery-xs ">
                                    @Html.HiddenFor(a => Model.Active)
                                    @Html.CheckBox("Active", Model.Active, new { @id = "Active", @class = "switchery", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!menuCrData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();
    });

    $(function () {

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
    });

    function RejectData() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("RejectMenu")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

</script>