﻿@using UOB.SVS.Resources;
@using UOB.SVS.Models;

@model UOB.SVS.Models.DocumentTypeCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    DocumentTypeCrView branchData = (DocumentTypeCrView)ViewData["DocTypeCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (branchData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Document Type Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Document Type Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Document Type Delete";
            break;
    }

}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", branchData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("DocTypeId", branchData.DocTypeId, new { @id = "DocTypeId", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", branchData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @*@Html.Hidden("MainBranchID", branchData.MainBranchID, new { @id = "MainBranchID", @autocomplete = "off", @class = "form-control input-xs" })*@

    <div class="panel panel-flat">
        <div class="panel-body">
            @if (branchData.ApprovalType == "U")
            {
                <div class="row">
                    <div class="col-md-6">
                        <h5>Before</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>After</h5>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                @if (branchData.ApprovalType == "U")
                {
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@BranchResources.BranchCode</label>
                                <div class="col-lg-2">
                                    @Html.TextBox("DocTypeBefore", Model.DocTypeBefore, new { @id = "DocTypeBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">@BranchResources.Description</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("DescriptionBefore", Model.DescriptionBefore, new { @id = "DescriptionBefore", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                </div>
                            </div>
                              
                        </fieldset>
                    </div>
                }
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@BranchResources.BranchCode</label>
                            <div class="col-lg-2">
                                @Html.TextBox("DocType", Model.DocType, new { @id = "DocType", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@BranchResources.Description</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Description", Model.Description, new { @id = "Description", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!branchData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

    });


</script>