﻿@using UOB.SVS.Resources;
@using UOB.SVS.Models;

@model UOB.SVS.Models.RoleDocTypeCrView

@{
    string ActionName = (string)ViewData["ActionName"];
    RoleDocTypeCrView branchData = (RoleDocTypeCrView)ViewData["RoleDocTypeCrData"];
    IEnumerable<SelectListItem> ApprovalActionList = (IEnumerable<SelectListItem>)ViewData["ApprovalActionList"];

    switch (branchData.ApprovalType)
    {
        case "C":
            ViewBag.SubTitle = " - Role Document Type Add";
            break;
        case "U":
            ViewBag.SubTitle = " - Role Document Type Update";
            break;
        case "D":
            ViewBag.SubTitle = " - Role Document Type Delete";
            break;
    }

}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", branchData.Id, new { @id = "Id", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("RoleId", branchData.RoleId, new { @id = "RoleId", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("ApprovalType", branchData.ApprovalType, new { @id = "ApprovalType", @autocomplete = "off", @class = "form-control input-xs" })
    @Html.Hidden("CreatedBy", branchData.CreatedBy, new { @id = "CreatedBy", @autocomplete = "off", @class = "form-control input-xs" })

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <label class="col-lg-1">@RoleResources.RoleName</label>
                <label class="col-lg-6">@branchData.Name</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Document Type List Before</h5>
                </div>
                <div class="col-md-6">
                    <h5>Document Type List After</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    @foreach (DocumentTypeView ff in branchData.OldFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-md-5 control-label">@ff.DocType</label>
                            </div>
                        </fieldset>
                    }
                </div>
                <div class="col-md-6">
                    @foreach (DocumentTypeView ff in branchData.NewFunctionList)
                    {
                        <fieldset>
                            <div class="form-group form-group-xs">
                                <label class="col-md-5 control-label">@ff.DocType</label>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker User</label>
                        <div class="col-lg-6">
                            <label class="col-lg-6 control-label">@Model.MakerUser</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Action</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("ApprovalStatus", ApprovalActionList, new { @id = "ApprovalStatus", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-control-panel text-right">
                        @if (!branchData.Approved)
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Maker Date</label>
                        <div class="col-lg-8">
                            <label class="col-lg-8 control-label">@Model.MakerDate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

    });


</script>