﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.CentralizeUnitHReqView
@{
    string ActionName = (string)ViewData["ActionName"];
    Parameter param = (Parameter)ViewData["Parameter"];
    ViewBag.SubTitle = " - View";

    IEnumerable<SelectListItem> docTypeList = (IEnumerable<SelectListItem>)ViewData["DocTypeMaster"];
    IEnumerable<SelectListItem> regionList = (IEnumerable<SelectListItem>)ViewData["RegionMaster"];
    IEnumerable<SelectListItem> divisionList = (IEnumerable<SelectListItem>)ViewData["DivisionMaster"];
    IEnumerable<SelectListItem> departementList = (IEnumerable<SelectListItem>)ViewData["DepartementMaster"];
    IEnumerable<SelectListItem> alldocTypeList = (IEnumerable<SelectListItem>)ViewData["AllDocTypeMaster"];

    int authDocs = (int)ViewData["DocCount"];

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var DocumentsModel = serializer.Serialize(Model.Documents);
    var SignaturesModel = serializer.Serialize(Model.Signatures);
    Model.NIK = HttpUtility.HtmlDecode(Model.NIK);
    Model.Note = HttpUtility.HtmlDecode(Model.Note);
}
@Html.AntiForgeryToken()
<form class="form-horizontal form-validate" enctype="multipart/form-data" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", Model.NIK)
    <div class="panel panel-body" style="min-height: 83vh;">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">NIK <span class="text-danger">*</span></label>
                        <div class="col-lg-7">
                            @Html.TextBox("NIK", null, new { @id = "NIK", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 20 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Name </label>
                        <div class="col-lg-7">
                            @Html.TextBox("Name", null, new { @id = "Name", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    @*<div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Document Type <span class="text-danger">*</span></label>
                        <div class="col-lg-7">
                            @Html.DropDownList("DocType", docTypeList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>*@
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Title </label>
                        <div class="col-lg-7">
                            @Html.TextBox("Titles", null, new { @id = "Titles", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label input-xs">@SvsResources.Note </label>
                        <div class="col-lg-7">
                            @Html.TextArea("Note", null, 2, 5, new { @id = "Note", @readonly = "readonly", @autocomplete = "off", @class = "form-control", maxlength = 500 })
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Region / Directorate <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Region", regionList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Division / Branch <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Division", divisionList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Departement / SubBranch</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Departement", departementList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <br /><br />
        <ul class="nav nav-tabs">
            @*<li class="active"><a data-toggle="tab" href="#idcard">ID Cards</a></li>*@
            <li class="active"><a data-toggle="tab" href="#signatures">Signatures</a></li>
            <li><a data-toggle="tab" href="#documents">Documents</a></li>
        </ul>

        <div class="tab-content">
            @*<div id="idcard" class="tab-pane fade in active">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-idcard table-hover" id="datatable-idcard" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Image</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>*@
            <div id="signatures" class="tab-pane fade in active">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-sign table-hover" id="datatable-sign" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Image</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="documents" class="tab-pane fade">
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-document table-hover" id="datatable-document" width="100%">
                        <thead class="bg-slate-800">
                            <tr>
                                <th>Document</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-control-panel text-right">
            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-primary">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>
     $("#Region").change(function () {
        $('#Division').html('');
        $('#Departement').html('');
        var Region = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownRegion")",
            data: { Region: Region }
        })
          .done(
              function (data) {
                  console.log(data.Divisions.length);
                  if (data.Divisions.length > 0) {

                      var options = '';

                      options += '<option value="">Select</option>';
                      console.log(data.Divisions);
                      console.log(data.Divisions[0]['Alias']);
                      for (var i = 0; i < data.Divisions.length; i++) {
                          options += '<option value="' + data.Divisions[i]['Alias'] + '">' + data.Divisions[i]['Alias'] + '</option>';
                      }
                      $('#Division').append(options);
                  }

            });
    });

    $("#Division").change(function () {
        var Region = $('#Region').val();
        $('#Departement').html('');
        var Division = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownDepartements")",
            data: { Region: Region, division: Division}
        })
          .done(
              function (data) {
                  console.log(data.Departements.length);
                  if (data.Departements.length > 0) {

                      var options = '';

                      options += '<option value="">Select</option>';
                      console.log(data.Departements);
                      console.log(data.Departements[0]['Alias']);
                      for (var i = 0; i < data.Departements.length; i++) {
                          options += '<option value="' + data.Departements[i]['Alias'] + '">' + data.Departements[i]['Alias'] + '</option>';
                      }
                      $('#Departement').append(options);
                  }

            });
    });

    var modalSwitcher = '';
    @*var IdentityCards = @Html.Raw(IdentityCardsModel) || [];*@
    var Signatures = @Html.Raw(SignaturesModel) || [];
    var Documents = @Html.Raw(DocumentsModel) || [];
    var docTypes = @Html.Raw(Json.Encode(docTypeList));
    var alldocTypes = @Html.Raw(Json.Encode(alldocTypeList));

    //Startup (OnLoad)
    $(function () {
        $('#BranchCode').selectpicker();
        $('#AccountType').selectpicker();

        $('button[data-toggle=modal], button[data-toggle=modal]').click(function () {
            if ($(this).data('id') !== 'undefined') {
                modalSwitcher = $(this).data('id');
            }
        })

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        });

    });
    //end

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    var signTable = $('.datatable-sign').DataTable({
        data: Signatures,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "CroppedBlob",
                className: "text-left",
                render: function (data, type, full, meta) {
                    if(full.IsValidImage){
                        return '<a href="#"><img src="' + full.ImageType + full.CroppedBlob + '" style="height:148px; width:236px;" class="text-slate-700" onClick="popupImage(this)" /></a>';
                    }
                    else{
                        return "Invalid Image";
                    }
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
        ],
        columns:
        [{
            "name": "Image",
            "data": "CroppedBlob"
        }],
    });

    @*var documentTable = $('.datatable-document').DataTable({
        data: Documents,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "FileBlob",
                render: function (data, type, full, meta) {
                    if(full.IsValidDoc){
                        var link = document.createElement('a');
                        var img = document.createElement('img');
                        var downloadFileName = '';
                        const binaryString = window.atob(full.FileBlob);
                        const len = binaryString.length;
                        const bytes = new Uint8Array(len);
                        for (let i = 0; i < len; ++i) {
                            bytes[i] = binaryString.charCodeAt(i);
                        }

                        var filetype;
                        var imgsrc = '';
                        if (full.FileType === 'data:application/pdf;base64,') {
                            filetype = 'application/pdf';
                            imgsrc = '../Content/images/pdf-icon.png';
                            downloadFileName = full.DocumentType + ".pdf";
                        } else if (full.FileType === 'data:image/tiff;base64,') {
                            filetype = 'image/tiff';
                            imgsrc = '../Content/images/tiff-icon.png';
                            downloadFileName = full.DocumentType + ".tiff";
                        }

                        var filedoc = new Blob([bytes], { type: filetype });

                        var doctype = alldocTypes.filter(function (ele) { return ele.Value === full.DocumentType; })[0];
                        var doctypetext = document.createElement('span');
                        if (doctype !== null) {
                            doctypetext.textContent = doctype.Text;
                        } else {
                            doctypetext.textContent = full.DocumentType;
                        }

                        link.href = "@Html.Treemas().Page.GetActionUrl("NoAuthCheckViewDocument")/" + full.ID;
                        //link.href = URL.createObjectURL(filedoc);
                        //link.download = downloadFileName;
                        link.target = "_blank";

                        img.src = imgsrc;
                        img.width = 48;
                        img.height = 48;
                        link.appendChild(img);
                        link.appendChild(doctypetext);
                        return link.outerHTML;
                    }
                    else{
                        return "Invalid Document";
                    }
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            },
        ],
        columns:
        [{
            "name": "Document",
            "data": "FileBlob"
        }],
    });*@

    var documentTable = $('.datatable-document').DataTable({
        data: Documents,
        paging: false,
        ordering: false,
        info: false,
        searching: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0],
                data: "FileBlob",
                render: function (data, type, full, meta) {
                    if(full.IsValidDoc){
                        var link = document.createElement('a');
                        var img = document.createElement('img');
                        var onclick = document
                        var downloadFileName = '';
                        const binaryString = window.atob(full.FileBlob);
                        const len = binaryString.length;
                        const bytes = new Uint8Array(len);
                        for (let i = 0; i < len; ++i) {
                            bytes[i] = binaryString.charCodeAt(i);
                        }

                        var filetype;
                        var imgsrc = '';
                        if (full.FileType === 'data:application/pdf;base64,') {
                            filetype = 'application/pdf';
                            imgsrc = '../../Content/images/pdf-icon.png';
                            downloadFileName = full.DocumentType + ".pdf";
                        } else if (full.FileType === 'data:image/tiff;base64,') {
                            filetype = 'image/tiff';
                            imgsrc = '../../Content/images/tiff-icon.png';
                            downloadFileName = full.DocumentType + ".tiff";
                        }

                        var filedoc = new Blob([bytes], { type: filetype });

                        var doctype = alldocTypes.filter(function (ele) { return ele.Value === full.DocumentType; })[0];
                        var doctypetext = document.createElement('span');

                        //if (doctype !== null) {
                        //    doctypetext.textContent = doctype.Text;
                        //} else {
                        //    doctypetext.textContent = full.DocumentType;
                        //}
                        doctypetext.textContent = full.DocumentType;

                        link.href = URL.createObjectURL(filedoc);
                        if(full.ID===undefined){
                            link.href = URL.createObjectURL(filedoc);
                        }
                        else{
                            link.href = "@Html.Treemas().Page.GetActionUrl("NoAuthCheckViewDocument")/" + full.ID;
                        }
                        //link.download = downloadFileName;
                        link.target = "_blank";

                        img.src = imgsrc;
                        img.width = 48;
                        img.height = 48;
                        link.appendChild(img);
                        link.appendChild(doctypetext);
                        return link.outerHTML;
                    }
                    else{
                        return "Invalid Document";
                    }
                },
                "createdCell": function (td, cellData, rowData, row, col) {
                    $(td).css('padding', '12px 10px')
                }
            }
            //,
            //{
            //    orderable: false,
            //    width: '150px',
            //    targets: [1],
            //    data: "Index",
            //    className: "text-center",
            //    render: function (data, type, full, meta) {
            //        return '<button type="button" class="text-slate-700 remove_item"><i class="icon-cross2"></i></button>';
            //    }
            //},
        ],
        columns:
        [{
            "name": "Document",
            "data": "FileBlob"
        }],
    });

</script>

@Html.Partial("_ImagePopup")
