﻿@using UOB.SVS.Resources;
@{
    string ActionName = "Edit";
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> regionList = (IEnumerable<SelectListItem>)ViewData["RegionMaster"];
    IEnumerable<SelectListItem> divisionList = (IEnumerable<SelectListItem>)ViewData["DivisionMaster"];
    IEnumerable<SelectListItem> departementList = (IEnumerable<SelectListItem>)ViewData["DepartementMaster"];
}
@Html.AntiForgeryToken()
<form id="formInquiry" class="form-horizontal form-validate" enctype="multipart/form-data" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-body" style="min-height: 83vh;">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">NIK <span class="text-danger">*</span></label>
                        <div class="col-lg-7">
                            @Html.TextBox("NIK", null, new { @id = "NIK", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 20 })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Name </label>
                        <div class="col-lg-7">
                            @Html.TextBox("Name", null, new { @id = "Name", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-3 control-label">Title </label>
                        <div class="col-lg-7">
                            @Html.TextBox("Titles", null, new { @id = "Titles", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Directorate / Region</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Region", regionList, "All", new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Division / Branch</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Division", divisionList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-lg-4 control-label">Departement / SubBranch</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("Departement", departementList, new { @class = "form-control btn-default btn-xs", @data_style = "btn-default btn-xs" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group form-group-xs">
                        <div class="col-lg-7">
                            <br />
                            <button type="button" id="filterButton" class="btn btn-primary btn-xs" style="width: 120px;"><i class="icon-filter4">&nbsp;</i>Search</button>
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-slate-800">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Doc Type</th>
                        <th>Title</th>
                        <th>Region</th>
                        <th>Division</th>
                        <th>Departement</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

<script>

    var dataTable = null;

    $(document).ready(function () {
        $("#Name").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });

    $("#Region").change(function () {
        $('#Division').html('');
         $('#Departement').html('');
        var Region = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownRegion")",
            data: { Region: Region }
        })
          .done(
              function (data) {
                  console.log(data.Divisions.length);
                  if (data.Divisions.length > 0) {
                      var options = '';

                      options += '<option value="">ALL</option>';
                      console.log(data.Divisions);
                      console.log(data.Divisions[0]['Alias']);
                      for (var i = 0; i < data.Divisions.length; i++) {
                          options += '<option value="' + data.Divisions[i]['Alias'] + '">' + data.Divisions[i]['Alias'] + '</option>';
                      }
                      $('#Division').append(options);
                  }
            });
    });

    $("#Division").change(function () {
        $('#Departement').html('');
        var Region = $('#Region').val();
        var Division = $(this).val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("ChangeDropdownDepartements")",
            data: { Region: Region, division: Division}
        })
          .done(
              function (data) {
                  console.log(data.Departements.length);
                  if (data.Departements.length > 0) {
                      var options = '';

                      options += '<option value="">ALL</option>';
                      console.log(data.Departements);
                      console.log(data.Departements[0]['Alias']);
                      for (var i = 0; i < data.Departements.length; i++) {
                          options += '<option value="' + data.Departements[i]['Alias'] + '">' + data.Departements[i]['Alias'] + '</option>';
                      }
                      $('#Departement').append(options);
                  }
            });
    });

    $(function () {
        $('#filterButton').click(function () {
            if (($('#NIK').val().length > 0) && ($('#NIK').val().length < 8)) {
                alert("NIK Min. 8 Char");
                var url = "@Html.Treemas().Page.GetActionUrl("Index")";
                window.location.href = url;
            }
            else if (($('#Name').val().length > 0) && ($('#Name').val().length < 3)) {
                alert("Name Min. 3 Char");
                var url = "@Html.Treemas().Page.GetActionUrl("Index")";
                window.location.href = url;
            } else {
                if (dataTable == null) {
                    var activeTable = $('.datatable-basic').DataTable();
                    activeTable.state.clear();
                    activeTable.destroy();

                    dataTable = $('.datatable-basic').DataTable({
                        processing: true,
                        serverSide: true,
                        stateSave: true,
                        ajax: {
                            url: "@Html.Treemas().Page.GetActionUrl("Search")",
                            type: "GET",
                            data: function (d) {
                                var frm_data = $('#formInquiry').serializeArray();
                                $.each(frm_data, function (key, val) {
                                    d[val.name] = val.value;
                                });
                            },
                        },
                        fnStateSaveParams: function (oSettings, oData) {
                            var frm_data = $('#formInquiry').serializeArray();
                            $.each(frm_data, function (key, val) {
                                oData[val.name] = val.value;
                            });
                        },
                        fnStateLoadParams: function (oSettings, oData) {
                            var frm_data = $('#formInquiry').serializeArray();
                            $.each(frm_data, function (key, val) {
                                $('#' + val.name).val(oData[val.name]);
                            });
                        },
                        searching: false,
                        autoWidth: false,
                        columnDefs: [
                            {
                                orderable: false,
                                width: '80px',
                                targets: [0],
                                data: "NIK",
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                                }
                            }],

                        columns:
                        [{
                            "name": "NIK",
                            "data": "NIK"
                        },
                        {
                            "name": "NIK",
                            "data": "NIK"
                        },     {
                            "name": "Name",
                            "data": "Name"
                        }, {
                            "name": "Doc Type",
                            "data": "DocType"
                        }, {
                            "name": "Title",
                            "data": "Titles"
                        }, {
                            "name": "Region",
                            "data": "Region"
                        }, {
                            "name": "Division",
                            "data": "Division"
                        }, {
                            "name": "Departement",
                            "data": "Departement"
                        }],
                        dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                        language: {
                            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                        },
                        drawCallback: function () {
                            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                        },
                        preDrawCallback: function () {
                            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                        }
                    });
                }
                else {
                    $('.datatable-basic').DataTable().ajax.reload();
                }
            }
        });


    });

    jQuery.validator.addMethod("SpecialChar", function (value, element) {
        // allow any non-whitespace characters as the host part
        //return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
        //return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
        console.log('test');
        console.log(value);
        console.log(element);
        return this.optional(element) || /^[a-zA-Z0-9_ ]*$/.test(value);

    }, 'Special Character not be allowed');


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            NIK: {
                number: true
            },
            Name: {
                minlength: 3,
                SpecialChar : true
            }
            //Division: {
            //    SpecialChar: false
            //},
            //Region: {
            //    SpecialChar: false
            //},
            //Departement: {
            //    SpecialChar: false
            //}

        }
    });


    //function setupLookupValueAccountMaster(data) {
    //    $('#AccountType').selectpicker('val', data["AccountType"]);
    //    $('#BranchCode').selectpicker('val', data["BranchCode"]);
    //    $('#AccountNo').val(data["AccountNo"]);
    //    $('#CIFNumber').val(data["CIFNo"]);
    //    $('#AccountName').val(data["AccountName"]);
    //    //$('#AccountType').val(data["AccountType"]);
    //}

</script>