﻿@using Treemas.Credential.Model;
@using Treemas.Base.Utilities;
@using UOB.SVS.Resources;
@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-lg-2">
                    <a href="@Html.Treemas().Page.GetControllerUrl("Branch")?loadState=1" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    <button type="submit" class="btn btn-xs btn-primary" onclick="Submit()">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                </div>
                <div class="col-md-5">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <input name="searchColumn" id="searchColumn" type="hidden" value="PrefixCode">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th></th>
                        <th>Prefix Code</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script>

    var AccountPrefixTable = null;



    function Submit() {
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("Create")"
        }).done(function (msg) {
            console.log(msg.message);
            if (msg.message.toString() == "@BranchResources.Validation_Success") {

                alert(msg.message.toString() + " and waiting for approval");
                var url = "@Html.Treemas().Page.GetControllerUrl("Branch")/";
                window.location.href = url;
            }
            else {
                alert(msg.message.toString());
            }
        });
    }


    $(function () {

        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('#ApprovalType').change(function () {
            $('#searchValue').val($('#ApprovalType').val());
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });


        // Basic datatable
        AccountPrefixTable = $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: false,

            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray(); console.log($('form').serializeArray());
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.selected == 1) {
                    $(row).addClass('selected');
                    var ctx = AccountPrefixTable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '80px',
                    data: "selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.selected == true)
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.PrefixCode + '" checked />'
                        else
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.PrefixCode + '" />'

                    }
                }],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
                [{
                    "name": "PrefixCode",
                    "data": "PrefixCode"
                }, {
                    "name": "PrefixCode",
                    "data": "PrefixCode"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }           
        });

        $('.datatable-basic').on('xhr.dt', function (e, settings, json, xhr) {
            if (json != null) {
                if (json.msg != undefined) {
                    alert(json.msg);
                }
            }
        }).DataTable();


        @*@if (loadState == "0")
        {
            @Html.Raw("console.log(Roletable.settings()[0]); //var table = Roletable.DataTable();table.state.clear();table.destroy();");

            }*@

        });

    function SetSelected(item, index) {
        var ctx = AccountPrefixTable.settings()[0];
        var checked = !ctx.aoData[index]._select_selected;

        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("CreateTemp")",
            data: { selected: checked, PrefixCode: $(item).val() },
        }).done(function (msg) {
            if (msg.message.toString() != "OK") {
                $('.datatable-basic').DataTable().ajax.reload();
                alert(msg.message.toString());
            }
        });
    }




</script>
