﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.RegionView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    //IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    //var a = appList;
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Region ID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("RegionId", Model.RegionId, new { @id = "RegionId", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">Region Name <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBox("Name", Model.Name, new { @id = "Name", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label input-xs">Alias <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBox("Alias", Model.Alias, new { @id = "Alias", @required = "required", @autocomplete = "off", @class = "form-control input-xs", maxlength = 10 })
                            </div>
                        </div>
                        @*<div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@RoleResources.SessionTimeout <span class="text-danger"></span></label>
                                <div class="col-lg-6">
                                    @Html.TextBox("SessionTimeout", Model.SessionTimeout, "{0:#.#}", new { @id = "SessionTimeout", @autocomplete = "off", @class = "form-control input-xs maskNumeric" ,maxlength = "2" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@RoleResources.LockTimeout </label>
                                <div class="col-lg-6">
                                    @Html.TextBox("LockTimeout", Model.LockTimeout, "{0:#.#}", new { @id = "LockTimeout", @autocomplete = "off", @class = "form-control input-xs maskNumeric", maxlength = "2" })
                                </div>
                            </div>*@
                    </fieldset>

                    <div class="form-control-panel text-right">
                        @if (Model.Id > 0)
                        {
                            if (ActionName == "Delete")
                            {
                                <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit<i class="icon-checkmark3 position-right"></i></button>
                            }
                        }
                        else
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetControllerUrl("Region")?loadState=1" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        // Set readonly fields
         @if (ActionName != "Create")
        {
            @:$("#RegionId").attr("readonly", "readonly");
            @*@:$("#Application").attr("disabled", "disabled");*@
        }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            RegionId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            Alias: {
                maxlength: 20
            }
        }
    });

</script>