﻿@using UOB.SVS.Resources;
@using Treemas.Credential.Model;

@model UOB.SVS.Models.SignatureHReqView
@{
    string ActionName = "Edit";
    ViewBag.SubTitle = " - Update";

}
@Html.AntiForgeryToken()
<form id="formInquiry" class="form-horizontal form-validate" enctype="multipart/form-data" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat" style="min-height: 83vh;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.AccNo</label>
                            <div class="col-lg-7">
                                <div class="input-group">
                                    @Html.TextBox("AccountNo", null, new { @id = "AccountNo", @autocomplete = "off", @class = "form-control input-xs" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#SVSLookup"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-xs btn-primary" style="width: 120px;">Search Account </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@SvsResources.CIFNumber </label>
                            <div class="col-lg-7">
                                @Html.TextBox("CIFNo", null, new { @id = "CIFNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                            <div class="col-lg-2">
                                <button type="button" id="filterButton" class="btn btn-primary btn-xs" style="width: 120px;">Search CIF </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="panel panel-flat panel-table">
                <table class="table datatable-basic table-hover">
                    <thead class="bg-slate-800">
                        <tr>
                            <th class="text-center">Actions</th>
                            <th>Account No</th>
                            <th>Account Name</th>
                            <th>Account Type</th>
                            <th>CIF Number</th>
                            <th>Branch Code</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/SVSLookup.cshtml")

<script>

    var dataTable = null;

    //$(document).ready(function () {
    //    dataTable.table.state.clear();
    //});


    function setupLookupValueSVS(data) {
        $('#AccountNo').val(data["AccountNo"]);
        $('#CIFNo').val(data["CIFNumber"]);
    }


    $(function () {
        $('#filterButton').click(function () {
            if ($('#CIFNo').val() == "" || $('#CIFNo').val() == null) {
                alert("CIF number does not exist.");
                var url = "@Html.Treemas().Page.GetActionUrl("Index")";
                window.location.href = url;
            } else {
                if (dataTable == null) {
                    var activeTable = $('.datatable-basic').DataTable();
                    activeTable.state.clear();
                    activeTable.destroy();

                    dataTable = $('.datatable-basic').DataTable({
                        processing: true,
                        serverSide: true,
                        stateSave: true,
                        ajax: {
                            url: "@Html.Treemas().Page.GetActionUrl("Search")",
                            type: "GET",
                            data: function (d) {
                                var frm_data = $('#formInquiry').serializeArray();
                                $.each(frm_data, function (key, val) {
                                    d[val.name] = val.value;
                                });
                            },
                            @*error: function (data) {
                                //alert("CIF number does not exist.");
                                var url = "@Html.Treemas().Page.GetActionUrl("Index")";
                                window.location.href = url;
                            }*@
                        },
                        fnStateSaveParams: function (oSettings, oData) {
                            var frm_data = $('#formInquiry').serializeArray();
                            $.each(frm_data, function (key, val) {
                                oData[val.name] = val.value;
                            });
                        },
                        fnStateLoadParams: function (oSettings, oData) {
                            var frm_data = $('#formInquiry').serializeArray();
                            $.each(frm_data, function (key, val) {
                                $('#' + val.name).val(oData[val.name]);
                            });
                        },
                        searching: false,
                        autoWidth: false,
                        columnDefs: [
                            {
                                orderable: false,
                                width: '80px',
                                targets: [0],
                                data: "AccountNo",
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                                }
                            }],
                        columns:
                        [{
                            "name": "AccountNo",
                            "data": "AccountNo"
                        }, {
                            "name": "AccountNo",
                            "data": "AccountNo"
                        }, {
                            "name": "AccountName",
                            "data": "AccountName"
                        }, {
                            "name": "AccountType",
                            "data": "AccountType"
                        }, {
                            "name": "CIFNumber",
                            "data": "CIFNumber"
                        }, {
                            "name": "BranchCode",
                            "data": "BranchCode"
                        }],
                        //}, {
                        //    "name": "Note",
                        //    "data": "Note"
                        //}],
                        dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                        language: {
                            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                        },
                        drawCallback: function () {
                            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                        },
                        preDrawCallback: function () {
                            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                        }
                    });
                } else {
                    $('.datatable-basic').DataTable().ajax.reload();
                }
            }
        });


    });





</script>